{% extends 'fishing/base.html' %}
{% load static %}
{% block content %}

{% if lure_base_list != None %}
<!-- Прикормы -->
<div class="content__item">
  {% if lure_base_list %}
  <table>
    {% for lure_base in lure_base_list %}
    <tr>
      <td>
        {{lure_base}}
      </td>
      <td>
        {% if lure_base.owner == user %}
          <a href="{% url 'fishing:lure_base_edit' lure_base.id %}">
            <img class="button__img" src="{% static 'images/edit.png' %}" alt="Edit">
          </a>
          <a href="{% url 'fishing:lure_base_delete' lure_base.id %}">
            <img class="button__img" src="{% static 'images/delete.png' %}" alt="Delete">
          </a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <div class="content__item-text">
    <p>Прикормы ещё не добавлены</p>
  </div>
  {% endif %}
  <div class="content__item content__item--btn-position">
    <a class="button__std" href="{% url 'fishing:lure_base_add' %}">
      <img class="button__img" src="{% static 'images/add.png' %}" alt="">
      Добавить
    </a>
    <a class="button__std" href="{% url 'fishing:fisherman_feed' %}">
      Назад
    </a>
  </div>
</div>
{% endif %}

{% endblock %}
