{% extends 'fishing/base.html' %}
{% block content %}

{% if nozzle_base_list != None or nozzle_state_list != None %}
<!-- Насадки и наживки -->

<table class="table" style="margin: auto;">
  <thead>
    <tr style="text-align: center; width: 35%; border: 0;">
      <th>Насадки и наживки</th>
      <th>Состояние насадок и наживок</th>
    </tr>
  </thead>
  <tr>
    <td style="text-align: center; width: 35%; border: 0;">
      {% if nozzle_base_list %}
      <table class="table table-hover"  width="100%" cellpadding="0" cellspacing="0">
        {% for nozzle_base in nozzle_base_list %}
        <tr >
          <td style="text-align: center; width: 19%; border: 0;">
          {{nozzle_base}}
          </td>
          {% if nozzle_base.owner == user %}
          <td style="text-align: center; width: 10%; border: 0;">
            {% if nozzle_base.bait %}
              <a href="{% url 'fishing:bait_base_edit' nozzle_base.id %}" class="btn btn-secondary" role="button">Редактировать</a>
            {% else %}
              <a href="{% url 'fishing:nozzle_base_edit' nozzle_base.id %}" class="btn btn-secondary" role="button">Редактировать</a>
            {% endif %}
          </td>
          <td style="text-align: center; width: 6%; border: 0;">
            <a href="{% url 'fishing:nozzle_base_delete' nozzle_base.id %}" class="btn btn-secondary" role="button">Удалить</a>
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      </table>
      {% else %}
      <table class="table table-hover"  width="100%" cellpadding="0" cellspacing="0">
        <tr>
          <td  style="text-align: center; width: 35%; border: 0;">
            Насадки и наживки ещё не добавлены
          </td>
        </tr>
        </table>
      {% endif %}
    </td>
    <td style="text-align: center; width: 35%; border: 0;">
      {% if nozzle_state_list %}
      <table class="table table-hover"  width="100%" cellpadding="0" cellspacing="0">
        {% for nozzle_state in nozzle_state_list %}
        <tr >
          <td style="text-align: center; width: 19%; border: 0;">
          {{nozzle_state}}
          </td>
          {% if nozzle_state.owner == user %}
          <td style="text-align: center; width: 10%; border: 0;">
            <a href="{% url 'fishing:nozzle_state_edit' nozzle_state.id %}" class="btn btn-secondary" role="button">Редактировать</a>
          </td>
          <td style="text-align: center; width: 6%; border: 0;">
            <a href="{% url 'fishing:nozzle_state_delete' nozzle_state.id %}" class="btn btn-secondary" role="button">Удалить</a>
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      </table>
      {% else %}
      <table class="table table-hover"  width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td style="text-align: center; width: 35%; border: 0;">
          Состояния насадок и наживок ещё не добавлены
        </tr>
      </tr>
      </table>
      {% endif %}
    </td>
  </tr>
  <tr>
    <td style="text-align: center; width: 35%; border: 0;">
      <a href="{% url 'fishing:nozzle_base_add' %}" class="btn btn-secondary" role="button">Добавить насадку</a>
      <a href="{% url 'fishing:bait_base_add' %}" class="btn btn-secondary" role="button">Добавить наживку</a>
    </td>
    <td style="text-align: center; width: 35%; border: 0;">
      {# <a href="{% url 'fishing:nozzle_state_add' %}" class="btn btn-secondary" role="button">Добавить состояние</a> #}
    </td>
  </tr>
</table>
<br/>
<p style="text-align: center;">
  <a href="{% url 'fishing:index' %}" class="btn btn-secondary" role="button">Назад</a>
</p>
{% endif %}

{% endblock %}
