{% extends 'fishing/base.html' %}
{% load static %}
{% block content %}

{% if leash_list != None %}
<!-- Поводки -->
<dic class="content__inner">
  {% if leash_list %}
  <table>
    {% for leash in leash_list %}
    <tr>
      <td>
      {{leash}}
      </td>
      <td>
        {% if leash.owner == user %}
        <a href="{% url 'fishing:leash_edit' leash.id %}">
          <img class="button__img" src="{% static 'images/edit.png' %}" alt="Edit">
        </a>
        <a href="{% url 'fishing:leash_delete' leash.id %}">
          <img class="button__img" src="{% static 'images/delete.png' %}" alt="Delete">
        </a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
    <div class="content__text content__text--center">
      <p>Поводки ещё не добавлены</p>
    </div>
  {% endif %}

  <div class="content__item content__item--btn-position">
    <a class="button__std" href="{% url 'fishing:leash_add' %}">
      <img class="button__img" src="{% static 'images/add.png' %}" alt="">
      Добавить
    </a>
    <a class="button__std" href="{% url 'fishing:fisherman_gear' %}">
      Назад
    </a>
  </div>
</dic>
{% endif %}

{% endblock %}
