{% extends 'fishing/base.html' %}
{% load static %}
{% block content %}


  <div class="content__grid-4-column">
    <div class="content__grid-item content__grid-item--border">
      <a href="{% url 'fishing:settings_fish_list' %}">
        <img src="{% static 'images/settings/logo_fishs.png' %}" alt="Рыбы">
      </a>
    </div>
    <div class="content__grid-item content__grid-item--border">
      <a href="{% url 'fishing:feed_capacity' %}">
        <img src="{% static 'images/settings/logo_capacity.png' %}" alt="Кормоемкости">
      </a>
    </div>
    <div class="content__grid-item content__grid-item--border">
      <a href="{% url 'fishing:nozzle_type' %}">
        <img src="{% static 'images/settings/logo_nozzletype.png' %}" alt="Типы насадок">
      </a>
    </div>
    <div class="content__grid-item content__grid-item--border">
      <a href="{% url 'fishing:water_category' %}">
        <img src="{% static 'images/settings/logo_watercategory.png' %}" alt="Категории водоемов">
      </a>
    </div>
    <div class="content__grid-item content__grid-item--border">
      <a href="{% url 'fishing:pace' %}">
        <img src="{% static 'images/settings/logo_pace.png' %}" alt="Темп">
      </a>
    </div>
    <div class="content__grid-item content__grid-item--border">
      <a href="{% url 'fishing:overcast' %}">
        <img src="{% static 'images/settings/logo_overcast.png' %}" alt="Облачность">
      </a>
    </div>
    <div class="content__grid-item content__grid-item--border">
      <a href="{% url 'fishing:conditions' %}">
        <img src="{% static 'images/settings/logo_conditions.png' %}" alt="Погодные явления">
      </a>
    </div>
    <div class="content__grid-item content__grid-item--border">
      <a href="{% url 'fishing:primings' %}">
        <img src="{% static 'images/settings/logo_primings.png' %}" alt="Грунт">
      </a>
    </div>
    <div class="content__grid-item content__grid-item--border">
      <a class="button__img" href="{% url 'fishing:environments' %}">
        <img class="info__image" src="{% static 'images/environments.png' %}" alt="Vars">
      </a>
    </div>
    <div class="content__grid-item content__grid-item--border">
      <a class="button__img" href="{% url 'fishing:fishermans' %}">
        <img class="info__image" src="{% static 'images/users.png' %}" alt="Users">
      </a>
    </div>
  </div>


{% endblock %}