{% extends 'fishing/base.html' %}
{% load element_by_key %}
{% load len_element %}
{% block content %}

  <table>
    <header>
      <th>Ник</th>
      <th>Почта</th>
      <th>Дата регистрации</th>
    </header>
    {% for i in users|get_len %}
      <tr>
        <td>{{ users.nick|get_element:i }}</td>
        <td>{{ users.email|get_element:i }}</td>
        <td>{{ users.date_joined|get_element:i }}</td>
      </tr>
    {% endfor %}
  </table>


<div class="content__item content__item--btn-position">
  <a class="button__std" href="{% url 'fishing:settings' %}">Назад</a>
</div>

{% endblock %}
