{% extends 'fishing/base.html' %}
{% block content %}
<style>
  p {
    text-align: center;
    font-size: 120%;
    font-style: oblique;
  }
</style>

{% if form.errors %}
  <p>Логин или пароль не верный</p>
{% endif %}
{% if next %}
  {% if user.is_authenticated %}
    <p>Доступ запрещен</p>
  {% else %}
    <p>Пожалуйста, войдите, чтобы увидеть эту страницу.</p>
  {% endif %}
{% endif %}


<form method="post" action="{% url 'login' %}" style="text-align: center; margin: auto;">
  {% csrf_token %}
  <table style="text-align: left; margin: auto;">
    <tr>
      <td style="text-align: center; border: 0;">
        {% for error in form.username.errors %}
          <p class="text-danger" style="font-size: 100%;">{{ error }}</p>
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td style="text-align: left; border: 0;">{{ form.username.label_tag }}</td>
      <td style="text-align: right; border: 0;">{{ form.username }}</td>
    </tr>
    <tr>
      <td style="text-align: center; border: 0;">
        {% for error in form.password.errors %}
          <p class="text-danger" style="font-size: 100%;">{{ error }}</p>
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td style="text-align: right; border: 0;">{{ form.password.label_tag }}</td>
      <td style="text-align: left; border: 0;">{{ form.password }}</td>
    </tr>
  </table>
  <br />
  <button class="btn btn-secondary" role="button">Войти</button>
  <a href="{% url 'accounts:registrations' %}" class="btn btn-secondary" role="button">Регистрация</a>
  <p style="font-size: 100%;"></p>
    <a href="{% url 'password_reset' %}">Восстановить пароль</a>
  </p>
</form>

{% endblock %}