{% extends 'fishing/base.html' %}
{% block content %}

<form action="" method="post" style="text-align: center; margin: auto;">
  {% csrf_token %}
  <table style="text-align: left; margin: auto;">
    <tr>
      <td style="text-align: center; border: 0;">
        {% for error in form.email.errors %}
          <p class="text-danger" style="font-size: 100%;">{{ error }}</p>
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td style="text-align: center; border: 0;">{{ form.email.label_tag }}</td>
      <td style="text-align: center; border: 0;">{{ form.email }}</td>
    </tr>
  </table>
  <br />
  <button class="btn btn-secondary" role="button">Сбросить пароль</button>
</form>

{% endblock %}
