{% extends 'fishing/base.html' %}
{% block content %}
<style>
    p {
      text-align: center;
      font-size: 120%;
      font-style: oblique;
    }
</style>

    {% if validlink %}
        <p>Ввеедите (и повторите) новый пароль.</p>
        <form action="" method="post" style="text-align: center; margin: auto;">
            {% csrf_token %}
            <table style="text-align: left; margin: auto;">
                {% if form.new_password2.errors %}
                <tr>
                    <td colspan="2">
                    {% for error in form.new_password2.errors %}
                        <p class="text-danger" style="font-size: 100%;">{{ error }}</p>
                    {% endfor %}
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <td>Новый пароль:</td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>Повторите новый пароль:</td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
            </table>
            <br />
            <button class="btn btn-secondary" role="button">Изменить пароль</button>
        </form>
    {% else %}
        <h1>Ошибка сброса пароля</h1>
        <p class="text-danger">Ссылка для сброса пароля была недействительной, возможно, потому что она уже использовалась. Пожалуйста, запросите новый пароль для сброса.</p>
    {% endif %}

{% endblock %}