{% extends 'fishing/base.html' %}
{% block content %}
  <div class="info">
    {% if validlink %}
      <p>Придумай и введи новый пароль.</p>
      <form class="info__login-form" method="post">
        {% csrf_token %}
        <div class="info__login-block">
          <p class="info__login-form-text">Новый пароль:</p>
          <input class="info__login-form-input" type="password" autofocus name="new_password1" autocomplete="new-password" required id="id_new_password1">
          <p class="info__login-form-text">Повтори пароль:</p>
          <input class="info__login-form-input" type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2">
        </div>
        <div class="info__login-form-error">
          {% for error in form.new_password2.errors %}
            <p>{{ error }}</p>
          {% endfor %}
        </div>
        <button class="info__button" type="submit">Изменить пароль</button>
    {% else %}
      <h3>Ошибка сброса пароля</h3>
      <p class="text-danger">Ссылка для сброса пароля была недействительной, возможно, потому что она уже использовалась. Пожалуйста, запросите новый пароль для сброса.</p>
    {% endif %}
  </div>

{% endblock %}