{% extends 'fishing/base.html' %}
{% load l10n %}
{% block content %}

<div class="errors">
  <div class="errors__inner">
    <div class="errors__item">
      <p>{{ errors }}</p>
    </div>
    {% for error in form.non_field_errors %}
      <div class="errors__item">
        <p>{{ error }}</p>
      </div>
    {% endfor %}
  </div>
</div>

<form class="content__form" action="" method="post">
  {% csrf_token %}
  <table>
    <tr>
      <td>
        {{ form.weight.label_tag }}
      </td>
      <td>
        <label class="textareaContainer textareaContainer--right8">
          <input class="content__input" type="number" min="0" step="0.01" name="weight" id="id_weight" value={{ form.weight.value|unlocalize }}>
        </label>
        </td>
    </tr>
    {% if form.weight.errors %}
    <tr>
      <td></td>
      <td>
        <div class="errors">
          <div class="errors__inner">
            {% for error in form.weight.errors %}
              <div class="errors__item">
                <p>{{ error }}</p>
              </div>
            {% endfor %}
          </div>
        </div>
      </td>
    </tr>
    </tr>
    {% endif %}
  </table>
  <div class="content__item content__item--btn-position">
    <button class="button__std">
      Сохранить
    </button>
    <a class="button__std" 
      {% if edit %}
        href="{% url 'fishing:lure_mix_details' lure_mix_id %}"
      {% else %}
        href="{% url 'fishing:select_lure_for_mix' lure_mix_id %}"
      {% endif %}>
      Назад
    </a>
  </div>
</form>
{% endblock %}
