{% extends 'fishing/base.html' %}
{% load static %}
{% block content %}
<div>
  {% if nozzle_base_list %}
  <!-- Насадки для смеси -->
  <table>
      {% for nozzle_base in nozzle_base_list %}
      <tr>
        <td>
          {{nozzle_base}}
        </td>
        <td>
          <a href="{% url 'fishing:select_nozzle_state_for_mix' lure_mix.id nozzle_base.id %}">
            <img class="button__img" src="{% static 'images/check.png' %}" alt="Выбрать">
          </a>
        </td>
      </tr>
      {% endfor %}
    </table>
  {% else %}
  <tr>
    <div class="content__item-text content__item-text--center">
      <p>Насадки и наживки ещё не добавлены</p>
    </div>
  </tr>
  {% endif %}
  <div class="content__item content__item--btn-position">
    <a class="button__std" href="{% url 'fishing:lure_mix_details' lure_mix.id %}">
      Назад
    </a>
  </div>
</div>


{% endblock %}