{% extends 'fishing/base.html' %}
{% load l10n %}
{% block content %}
<div class="content__inner">
  <div class="errors">
    <div class="errors__inner">
      <div class="errors__item">
        <p>{{ errors }}</p>
      </div>
      {% for error in form.non_field_errors %}
        <div class="errors__item">
          <p>{{ error }}</p>
        </div>
      {% endfor %}
    </div>
  </div>

  <form class="content__form" action="" method="post">
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.manufacturer.label_tag }}</td>
        <td>
          <label class="textareaContainer textareaContainer--right8">
            <input class="content__input" type="text" maxlength="20" name="manufacturer" id="id_manufacturer" value={{ form.manufacturer.value|default_if_none:"" }}>
          </label>
        </td>
      </tr>
      {% if form.manufacturer.errors %}
        <tr>
          <td></td>
          <td>
            <div class="errors">
              <div class="errors__inner">
                {% for error in form.manufacturer.errors %}
                  <div class="errors__item">
                    <p>{{ error }}</p>
                  </div>
                {% endfor %}
              </div>
            </div>
          </td>
        </tr>
      {% endif %}
      <tr>
        <td>{{ form.model_tackle.label_tag }}</td>
        <td>
          <label class="textareaContainer textareaContainer--right8">
            <input class="content__input" type="text" maxlength="30" name="model_tackle" id="id_model_tackle" value={{ form.model_tackle.value|default_if_none:"" }}>
          </label>
        </td>
      </tr>
      {% if form.model_tackle.errors %}
        <tr>
          <td></td>
          <td>
            <div class="errors">
              <div class="errors__inner">
                {% for error in form.model_tackle.errors %}
                  <div class="errors__item">
                    <p>{{ error }}</p>
                  </div>
                {% endfor %}
              </div>
            </div>
          </td>
        </tr>
      {% endif %}
      <tr>
        <td>{{ form.length.label_tag }}</td>
        <td>
          <label class="textareaContainer textareaContainer--right8">
            <input class="content__input" type="number" min="0" max="99.9" step="0.1" name="length" id="id_length" value={{ form.length.value|unlocalize }}>
          </label>
        </td>
      </tr>
      {% if form.length.errors %}
        <tr>
          <td></td>
          <td>
            <div class="errors">
              <div class="errors__inner">
                {% for error in form.length.errors %}
                  <div class="errors__item">
                    <p>{{ error }}</p>
                  </div>
                {% endfor %}
              </div>
            </div>
          </td>
        </tr>
      {% endif %}
      <tr>
        <td>{{ form.casting_weight.label_tag }}</td>
        <td>
          <label class="textareaContainer textareaContainer--right8">
            <input class="content__input" type="number" min="0" step="1" name="casting_weight" id="id_casting_weight" value={{ form.casting_weight.value|unlocalize }}>
          </label>
        </td>
      </tr>
      {% if form.casting_weight.errors %}
        <tr>
          <td></td>
          <td>
            <div class="errors">
              <div class="errors__inner">
                {% for error in form.casting_weight.errors %}
                  <div class="errors__item">
                    <p>{{ error }}</p>
                  </div>
                {% endfor %}
              </div>
            </div>
          </td>
        </tr>
      {% endif %}
    </table>
    <div class="content_item content__item--btn-position">
      <button class="button__std">Сохранить</button>
      <a class="button__std" href="{% url 'fishing:fishing_tackle_select' fishing_id fishing_tackle_id %}">
        Назад
      </a>
    </div>
  </form>
</div>
{% endblock %}
