{% extends 'fishing/base.html' %}
{% block content %}

{% if fish != None %}
<!-- Рыба -->
<div style="width: 70%; margin: auto;">
<p style="font-size: 140%; font-style: oblique; text-align: center;"> {{ fish.name_of_fish }}</p>
<p style="font-size: 120%; text-align: justify; text-indent: 20px;"></style>{{ fish.fish_description|linebreaks }}<p/>
<p style="text-align: center;">
    {% if user.is_staff %}
    <a href="{% url 'fishing:fish_edit' fish.id %}" class="btn btn-secondary" role="button">Редактировать</a>
    {% endif %}
    <a href="{% url 'fishing:fish_list' %}" class="btn btn-secondary" role="button">Назад</a>
</p>
</div>
{% endif %}

{% endblock %}