{% extends 'fishing/base.html' %}
{% load static %}
{% block content %}

{% if fish_list != None %}
<!-- Рыбы -->
{% if fish_list %}
<div class="content__grid-4-column content__grid--rows-150">
  {% for fish in fish_list %}
  <div class="content__grid-item">
    {% if fish.description %}
      <a href="{% url 'fishing:fish_details' fish.id %}">{{fish.name}}</a>
    {% else %}
      {{fish.name}}
    {% endif %}
  </div>
  {% endfor %}
</div>
{% else %}
<div class="content__item-text">
  <p>Ни одной рыбы ещё не добавлено</p>
</div>
{% endif %}
<div class="content__item content__item--btn-position">
  <a class="button__std button__std--center" href="{% url 'fishing:index' %}">На главную</a>
</div>
{% endif %}

{% endblock %}
