{% extends 'fishing/base.html' %}
{% block content %}

{% if water_category_list %}
<table class="table table-hover" style="margin: auto;">
  {% for water_category in water_category_list %}
  <tr >
    <td style="text-align: center; border: 0;">
    {{water_category}}
    </td>
    {% if user.is_staff %}
    <td style="text-align: center; width: 10%; border: 0;">
    <a href="{% url 'fishing:water_category_edit' water_category.id %}" class="btn btn-secondary" role="button">Редактировать</a>
    </td>
    <td style="text-align: center; width: 6%; border: 0;">
    <a href="{% url 'fishing:water_category_delete' water_category.id %}" class="btn btn-secondary" role="button">Удалить</a>
    </td>
    {% endif %}
  </tr>
  {% endfor %}
</table>
{% else %}
<p style="margin: auto;">Ни одной категории водоёмов ещё не добавлено</p>
{% endif %}
<br/>
<p style="text-align: center;">
  {% if user.is_staff %}
  <a href="{% url 'fishing:water_category_add' %}" class="btn btn-secondary" role="button">Добавить</a>
  {% endif %}
  <a href="{% url 'fishing:settings' %}" class="btn btn-secondary" role="button">Назад</a>
</p>

{% endblock %}
