@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import '../../../node_modules/jquery-datetimepicker/jquery.datetimepicker';

.header{
    &__inner{
        display: flex;
        background-color: #f5f5f5;
        align-items: center;
        height: 60px;
    }
}

.menu{
    padding-left: 22px;
    &__list{
        display: flex;
    }
    &__list-item + .menu__list-item{
        padding-left: 22px;
    }
    &__list-link{
        @extend %title-font;
        color: #000;
        line-height: 19.5;
    }
}

.logo{
    background-color: transparent;
    border: none;
    padding-left: 20px;
}


.main{
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__content{
        width: 100%;
        max-width: 860px;
    }
    &__panel{
        width: 200px;
        background-color: $content-background;
    }
    &__button{
        @extend %font;
        // height: 20px;
        background-color: #f5f5f5;
        border: 1px solid rgba($border-input, .7);
        border-radius: 3px;
        cursor: pointer;
        padding: 1px 10px;
    }
}

.info{
    height: 190px;
    min-width: 200px;
    text-align: center;
    &__login-form{

        padding-top: 9px;
    }
    &__login-form-text{
        padding-top: 2px;
        @extend %font;
        line-height: 17px;
    }
    &__login-form-input{
        border-radius: 3px;
        background-color: #f5f5f5;
        border: 1px solid rgba($border-input, .7);
        width: 180px;
        height: 20px;

        &::placeholder{
            font-family: 'Montserrat', sans-serif;
            font-size: 12px;
            font-weight: 400;
            line-height: 19px;
            color: #a1a1a1;
        }
    }
    &__login-block{
        padding-bottom: 12px;
    }
    &__login-form-error{
        @extend %font;
        & p{
            text-align: center;
            font-size: 12px;
            line-height: 14px;
            color: $error;
        }
    }
    &__button{
        @extend %font;
        // height: 20px;
        background-color: #f5f5f5;
        border: 1px solid rgba($border-input, .7);
        border-radius: 3px;
        cursor: pointer;
        padding: 1px 10px;
    }
    &__restore-password{
        @extend %font;
        font-size: 10px;
        line-height: 12px;
        text-align: center;
    }
    &__content{
        min-width: 180px;
    }
    &__nickname{
        padding-top: 5px;
        font-size: 18px;
    }
    &__list{
        padding-left: 10px;
        padding-top: 2px;
        @extend %font;
        font-size: 12px;
        line-height: 15px;
        text-align: left;
    }
    &__item{
        padding-top: 3px;
    }
    &__item-link{
        &:hover{
            text-decoration: underline;
        }
    }
    &__trophy{
        padding-top: 3px;
        padding-bottom: 5px;
    }
    &__trophy-title{
        font-size: 12px;
        line-height: 14px;
    }
    &__trophy-text{
        font-size: 14px;
        line-height: 17px;
        padding-top: 3px;
    }
    &__image{
        background-color: transparent;
        border: none;
        height: 12px;
    }
    & a{
        color: $default;
    }
}

.errors{
    &__item{
        @extend %font;
        & p{
            text-align: center;
            color: $error;
        }
    }
}

.sign-in{
    &__item{
        @extend %font;
        text-align: center;
    }
    &__errors{
        color: $error;
    }
    &__info{
        color: $default;
    }
}

.content{
    width: 100%;
    max-width: 860px;
    @extend %font;
    padding: 2px 5px 10px;
    background-color: $content-background;
    & table{
        @extend %font;
        width: 100%;
        border-spacing: 0;
        padding-bottom: 7px;
        // margin: auto;
    }
    & td{
        @extend %font;
        text-align: center;
        background-color: transparent;
    }
    & th{
        @extend %font;
        font-weight: 700;
        width: 10%;
    }
    &__report{
        & tr{
            & td{
                border-bottom: 1px solid #000;
            }
        }
        & tr:last-child{
            & td{
                border-bottom: none;
            }
        }
    }
    &__grid-3-column{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    &__grid-4-column{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    &__grid--rows-150{
        grid-auto-rows: 150px;
    }

    &__grid-item{
        align-content: center;
        margin: auto;
        text-align: center;
    }
    &__grid-item--border{
        border: 1px solid $content-background;
        &:hover{
            border: 1px solid rgba($content-border, 0.2);
        }
    }
    & a{
        color: $default;
    }
    &__item{
        padding-top: 7px;
        padding-bottom: 15px;
        max-height: 166px;
    }
    &__item--btn-position{
        text-align: center;
    }
    &__item--center{
        text-align: center;
    }
    &__item--title{
        font-size: 16px;
    }
    &__item-table{
        padding-top: 4px;
        border-spacing: 0;
        & tr{
            height: 30px;
            &:hover{
                background-color: $hover-color;
            }
        }
        
    }
    &__item-title{
        font-weight:600;
        font-style: bold;
        font-size: 16px;
        line-height: 19px;
    }
    &__item-title--center{
        text-align: center;
    }
    &__item-text{
        padding-top: 7px;
        text-align: justify;
        overflow: hidden;
        max-height: 102px;
        font-size: 14px;
        line-height: 20px;
    }
    &__item-text--center{
        text-align: center;
    }
    &__item-info{
        display: flex;
        justify-content: start;
    }
    &__item-date{
        padding-left: 5px;
        padding-top: 4px;
        font-size: 10px;
        line-height: 11px;
    }
    &__item-author{
        padding-left: 15px;
        padding-top: 4px;
        font-size: 10px;
        line-height: 11px;
    }
    &__item-details{
        padding-left: 15px;
        padding-top: 4px;
        font-size: 10px;
        line-height: 11px;
    }
    &__text{
        padding-top: 7px;
        text-align: justify;
        font-size: 14px;
        line-height: 20px;
    }
    &__item-text--discription{
        font-weight:600;
    }
    &__text--center{
        text-align: center;
    }
    &__text--weight{
        width: 100%;
        max-width: 140px;
    }
    &__form{
        width: inherit;
    }
    &__item-2-column{
        display: flex;
        justify-content: start;
    }
    &__input{
        padding-top: 1px;
        width: 100%;
    }
    &__input-date-time{
        @extend %font;
        border-radius: 3px;
        background-color: #f5f5f5;
        width: 140px;
        border: 1px solid rgba($border-input, .7);
        &::placeholder{
            font-family: 'Montserrat', sans-serif;
            font-size: 12px;
            font-weight: 400;
            line-height: 19px;
            color: #a1a1a1;
        }
    }
    &__input-title{
        @extend %font;
        border-radius: 3px;
        background-color: #f5f5f5;
        width: 100%;
        border: 1px solid rgba($border-input, .7);
        &::placeholder{
            font-family: 'Montserrat', sans-serif;
            font-size: 12px;
            font-weight: 400;
            line-height: 19px;
            color: #a1a1a1;
        }
    }
    &__input-description{
        @extend %font;
        border-radius: 3px;
        width: 100%;
        background-color: transparent;
        border: 1px solid rgba($border-input, .7);
        resize: none;
        &::placeholder{
            font-family: 'Montserrat', sans-serif;
            font-size: 12px;
            font-weight: 400;
            line-height: 19px;
            color: #a1a1a1;
        }
    }
    &__div{
        @extend %font;
    }
    &__div--in-line{
        display: inline-block;
        max-width: 280px;
        width: 30%;
        vertical-align: middle;
    }
    &__img{
        background-color: transparent;
        border: none;
        height: 16px;
        margin-bottom: -3px;
    }
}

.textareaContainer{
    display: block;
    border: 5px solid $content-background;
    &--right8{
        padding-right: 8px;
    }
}

.trophys_report{
    & th{
        width: 50%;
        @extend %font;
        font-weight: 700;
        vertical-align: middle;
    }
    & td{
        width: 50%;
        @extend %font;
        vertical-align: top;
    }
}

.button{
    &__std{
        @extend %font;
        background-color: #f5f5f5;
        border: 1px solid rgba($border-input, .7);
        border-radius: 3px;
        cursor: pointer;
        padding: 1px 10px;
        &:hover{
            background-color: $hover-color;
        }
    }
    &__std--center{
        align-content: center;
    }
    &__img{
        cursor: pointer;
        background-color: transparent;
        border: none;
        height: 14px;
    }
}
