{% extends 'fishing/base.html' %}
{% load static %}
{% block content %}

<div class="content__item">
  {% if conditions_list %}
  <table>
    {% for conditions in conditions_list %}
    <tr>
      <td>
        {{conditions.name}}
      </td>
      <td>
        <a href="{% url 'fishing:conditions_edit' conditions.id %}">
          <img class="button__img" src="{% static 'images/edit.png' %}" alt="Edit">
        </a>
        <a href="{% url 'fishing:conditions_delete' conditions.id %}">
          <img class="button__img" src="{% static 'images/delete.png' %}" alt="Delete">
        </a>
      </td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <div class="content__item-text content__item-text--center">
    <p>Варианты погодных явлений еще не добавлены</p>
  </div>
  {% endif %}
  <div class="content__item content__item--btn-position">
    <a class="button__std" href="{% url 'fishing:conditions_add' %}">
      <img class="button__img" src="{% static 'images/add.png' %}" alt="">
      Добавить
    </a>
    <a class="button__std" href="{% url 'fishing:settings' %}">
      Назад
    </a>
  </div>
</div>

{% endblock %}
