{% extends 'fishing/base.html' %}
{% load static %}
{% block content %}

{% if water_list != None %}
<!-- Рыбы -->
<div class="content__item">
  {% if water_list %}
  <table>
    {% for water in water_list %}
    <tr>
      <td>
        {{water}}
      </td>
      <td>
        {% if water.owner == user %}
          <a href="{% url 'fishing:places' water.id %}">
            Места
          </a>
          <a href="{% url 'fishing:water_edit' water.id %}">
            <img class="button__img" src="{% static 'images/edit.png' %}" alt="Edit">
          </a>
          <a href="{% url 'fishing:water_delete' water.id %}">
            <img class="button__img" src="{% static 'images/delete.png' %}" alt="Delete">
          </a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <div class="content__item-text content__item-text--center">
    <p>Ни одного водоема ещё не добавлено</p>
  </div>
  {% endif %}

  <div class="content__item content__item--btn-position">
    <a class="button__std" href="{% url 'fishing:water_add' %}">
      <img class="button__img" src="{% static 'images/add.png' %}" alt="">
      Добавить
    </a>
    <a class="button__std" href="{% url 'fishing:fisherman_notes' %}">
      Назад
    </a>
  </div>
</div>
{% endif %}

{% endblock %}
