{% load static %}

{% include "fishing/bootstrap.html" %}

<html>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">

<head>
  <title>Fishing oracle</title>
</head>

<div>
  <div class="navbar">
    <div>
      <a href="/">Домой</a>
      {% if user.is_authenticated %}
      <a href="{% url 'fishing:fishing' %}">Рыбалки</a>
      <a href="{% url 'blog:post_list' %}" target="_blank">Блог</a>
      {% endif %}
      <a href="{% url 'fishing:fish_list' %}">Рыба</a>
      {% if user.is_authenticated %}
      <a href="{% url 'logout'%}?next={{request.path}}">{{ user.get_username }}</a>
      {% else %}
      <a href="{% url 'login'%}?next={{request.path}}">Войти</a>
      {% endif %}
    </div>
  </div>
</div>

<body>
  {% include "fishing/scripts.html" %}
  <section class="main">
    <div>
      {% block content %} {% endblock %}
    </div>
  </section>
</body>
<footer>
  <div class="footer">
    <p><span style="color: red;">R</span><span style="color: green;">G</span><span style="color: blue;">B</span>fish 2020</p>

  </div>
</footer>

</html>