{% extends 'fishing/base.html' %}
<p>{{ renewal_add_model }}</p>
{% block content %}
<form action="" method="post">
  {% csrf_token %}
  <table>
    <div class="input-group date" id="datetimepicker1" data-target-input="nearest" style="width: 12%">
        {{ form.date }}
        <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
          <div class="input-group-text"><i class="fa fa-calendar"></i></div>
        </div>
    </div>
    <div class="input-group date" id="datetimepicker2" data-target-input="nearest" style="width: 12%">
        {{ form.time }}
        <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
          <div class="input-group-text"><i class="fa fa-calendar"></i></div>
        </div>
    </div>
  </table>
  <button class="btn">Сохранить</button>
  <button onclick="back()" class="btn">Назад</button>
</form>
{% endblock %}