{% load static %}

<header class="header">
	<div class="container">
	  <div class="header__inner">
		<a class="logo" href="/">
			<img src="{% static 'images/logo.png' %}" alt="logo">
		</a>
		<nav class="menu">
		  <ul class="menu__list">
			<li class="menu__list-item">
			  <a class="menu__list-link" href="{% url 'fishing:trophys_report' %}">Трофеи</a>
			</li>
			<li class="menu__list-item">
			  <a class="menu__list-link" href="{% url 'fishing:fish_list' %}">Справочник рыб</a>
			</li>
		  </ul>
		</nav>
	  </div>
	</div>
  </header>
