{% extends 'fishing/base.html' %} {% block content %}
<ul>
    {% if user.is_authenticated %}
    <li><a href="{% url 'fishing:fishing' %}">Рыбалки</a></li>
    <li><a href="{% url 'fishing:tackle' %}">Снасти</a></li>
    <li><a href="{% url 'fishing:montage' %}">Монтажи</a></li>

    <li><a href="{% url 'fishing:trough' %}">Кормушки</a></li>
    <li><a href="{% url 'fishing:nozzle_state' %}">Состояния наживки</a></li>
    <li><a href="{% url 'fishing:nozzle' %}">Наживка</a></li>
    <li><a href="{% url 'fishing:fishing_lure' %}">Прикормочные смеси</a></li>
    <li><a href="{% url 'fishing:lure_base' %}">Прикормы</a></li>
    <li><a href="{% url 'fishing:aroma_base' %}">Аромы</a></li>
    <li><a href="{% url 'fishing:crochet' %}">Крючки</a></li>
    <li><a href="{% url 'fishing:leash' %}">Поводки</a></li>
    {% endif %}
    <li><a href="{% url 'fishing:fish' %}">Рыба</a></li>
    {% if user.is_staff %}
    <p>Заполняется администратором</p>
    <li><a href="{% url 'fishing:feed_capacity' %}">Кормоёмкость</a></li>
    <li><a href="{% url 'fishing:pace' %}">Темп</a></li>
    <li><a href="{% url 'fishing:districts' %}">Районы</a></li>
    <li><a href="{% url 'fishing:overcast' %}">Облачность</a></li>
    <li><a href="{% url 'fishing:weatherphenomena' %}">Погодные явления</a></li>
    <li><a href="{% url 'fishing:primings' %}">Грунт</a></li>
    {% endif %}
</ul>
{% endblock %}