{% extends 'fishing/base.html' %}
{% block content %}

{% for post in posts %}
  <div class="content__item">
    <p class="content__item-title"><a href="{% url 'blog:post_detail' post.pk %}">{{ post.title }}</a></p>
    <div class="content__item-text">
      {{ post.discription }}
    </div>
    <div class="content__item-info">
      <p class="content__item-date">{{ post.created_date }}</p>
      <p class="content__item-author">Автор: {{ post.author.nick }}</p>
      <p class="content__item-details"><a href="{% url 'blog:post_detail' post.pk %}">Подробнее</a></p>
      {% if user == post.author %}
        <p class="content__item-details"><a href="{% url 'blog:post_edit' post.pk %}">Изменить</a></p>
      {% endif %}  
    </div>
    
  </div>
{% endfor %}

{% endblock %}
