{% extends 'fishing/base.html' %}
{% load static %}
{% block content %}
<div class="content__inner">
  {% if user.is_staff %}
    <a class="button__std" href="{% url 'news:add' %}">
      <img class="button__img" src="{% static 'images/add.png' %}" alt="">
      Новость
    </a>
  {% endif %}
  {% for post in news %}
    <div class="content__item">
      <p class="content__item-title">
        <a href="{% url 'news:detail' post.pk %}">{{ post.title }}</a></p>
      <div class="content__item-text">
        {{ post.discription }}
      </div>
      <div class="content__item-info">
        <p class="content__item-date">{{ post.created_date }}</p>
        <p class="content__item-author">Автор: {{ post.author.nick }}</p>
        <p class="content__item-details"><a href="{% url 'news:detail' post.pk %}">Подробнее</a></p>
        {% if user == post.author %}
          <p class="content__item-details"><a href="{% url 'news:edit' post.pk %}">Изменить</a></p>
        {% endif %}  
      </div>
      
    </div>
  {% endfor %}
</div>
{% endblock %}
