{% extends 'fishing/base.html' %}
{% block content %}

{% if aroma_base_list != None %}
<!-- Аромы базовые -->
{% if aroma_base_list %}
<ul>
  {% for aroma_base in aroma_base_list %}
  <li>
    {{aroma_base}}
    {% if user.is_staff %}
    {{aroma_base.owner}}
    {% endif %}
    {% if aroma_base.owner == user %}
    <a href="{% url 'fishing:aroma_base_renewal' aroma_base.id %}" class="btn">Редактировать</a>
    <a href="{% url 'fishing:aroma_base_remove' aroma_base.id %}" class="btn">Удалить</a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
<p>Аром не добавлено</p>
{% endif %}
<p>
  {% if user.is_authenticated %}
  <a href="{% url 'fishing:aroma_base_add' %}" class="btn">Добавить</a>
  {% endif %}
  <a onclick="back()" class="btn">Назад</a>
</p>
{% endif %}


{% if bottom_map_list != None %}
<!-- Маркерные карты -->
{% if bottom_map_list %}
<ul>
  {% for bottom_map in bottom_map_list %}
  <li>
    <a href="{% url 'fishing:bottom_map_details' district.id water.id place.id bottom_map.id %}">{{bottom_map}}</a>
    {% if user.is_staff %}
    {{bottom_map.owner}}
    {% endif %}
    {% if place.owner == user %}
    <a href="{% url 'fishing:bottom_map_renewal' district.id water.id place.id bottom_map.id %}" class="btn">Редактировать</a>
    <a href="{% url 'fishing:bottom_map_remove' district.id water.id place.id bottom_map.id %}" class="btn">Удалить</a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
<p>Список маркерных карт пуст</p>
{% endif %}
<p>
  {% if user.is_authenticated %}
  <a href="{% url 'fishing:bottom_map_add' district.id water.id place.id %}" class="btn">Добавить</a>
  {% endif %}
  <a onclick="back()" class="btn">Назад</a>
</p>
{% endif %}

{% if point_list != None %}
<!-- Точки маркерной карты -->
{% if point_list %}
<ul>
  {% for point in point_list %}
  <li>
    <a href="{% url 'fishing:point_details' district.id water.id place.id bottom_map.id point.id %}">{{point}}</a>
    {% if place.owner == user %}
    <a href="{% url 'fishing:point_renewal' district.id water.id place.id bottom_map.id point.id %}" class="btn">Редактировать</a>
    <a href="{% url 'fishing:point_remove' district.id water.id place.id bottom_map.id point.id %}" class="btn">Удалить</a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
<p>Ни одной точки ещё не добавлено.</p>
{% endif %}
<p>
  {% if user.is_authenticated %}
  <a href="{% url 'fishing:point_add' district.id water.id place.id bottom_map.id %}" class="btn">Добавить</a>
  {% endif %}
  <a onclick="back()" class="btn">Назад</a>
</p>
{% endif %}


{% if crochet_list != None %}
<!-- Крючки -->
{% if crochet_list %}
<ul>
  {% for crochet in crochet_list %}
  <li>
    {{crochet}}
    {% if crochet.owner == user %}
    <a href=" {% url 'fishing:crochet_renewal' crochet.id %}" class="btn">Редактировать</a>
    <a href="{% url 'fishing:crochet_remove' crochet.id %}" class="btn">Удалить</a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
<p>Список крючков пуст</p>
{% endif %}
<p>
  {% if user.is_staff %}
  <a href="{% url 'fishing:crochet_add' %}" class="btn">Добавить</a>
  {% endif %}
  <a onclick="back()" class="btn">Назад</a>
</p>
{% endif %}


{% if districts_list != None %}
<!-- Районы -->
{% if districts_list %}
<ul>
  {% for district in districts_list %}
  <li>
    <a href="{% url 'fishing:water' district.id %}">{{district.district_name}}</a>
    {% if user.is_staff %}
    <a href=" {% url 'fishing:district_renewal' district.id %}" class="btn">Редактировать</a>
    <a href="{% url 'fishing:district_remove' district.id %}" class="btn">Удалить</a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
<p>Список районов пуст</p>
{% endif %}
<p>
  {% if user.is_staff %}
  <a href="{% url 'fishing:district_add' %}" class="btn">Добавить</a>
  {% endif %}
  <a onclick="back()" class="btn">Назад</a>
</p>
{% endif %}

{% if feed_capacity_list != None %}
<!-- Кормоемкость -->
{% if feed_capacity_list %}
<ul>
  {% for capacity in feed_capacity_list %}
  <li>
    {{capacity.feed_capacity_name}}
    {% if user.is_staff %}
    <a href="{% url 'fishing:feed_capacity_renewal' capacity.id %}" class="btn">Редактировать</a>
    <a href="{% url 'fishing:feed_capacity_remove' capacity.id %}" class="btn">Удалить</a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
<p>Список вариантов кормоёмкости пуст</p>
{% endif %}
<p>
  {% if user.is_staff %}
  <a href="{% url 'fishing:feed_capacity_add' %}" class="btn">Добавить</a>
  {% endif %}
  <a onclick="back()" class="btn">Назад</a>
</p>
{% endif %}

{% if fish_list != None %}
<!-- Рыбы -->
{% if fish_list %}
<ul>
  {% for fish in fish_list %}
  <li>
    <a href="{% url 'fishing:fish_details' fish.id %}">{{fish.name_of_fish}}</a>
    {% if user.is_staff %}
    <a href="{% url 'fishing:fish_renewal' fish.id %}" class="btn">Редактировать</a>
    <a href="{% url 'fishing:fish_remove' fish.id %}" class="btn">Удалить</a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
<p>База рыб пуста</p>
{% endif %}
<p>
  {% if user.is_staff %}
  <a href="{% url 'fishing:fish_add' %}" class="btn">Добавить</a>
  {% endif %}
  <a onclick="back()" class="btn">Назад</a>
</p>
{% endif %}

{% if fishing_list != None %}
<!-- Рыбалки -->
{% if fishing_list %}
<ul>
  {% for fishing in fishing_list %}
  <li>
    <a href="{% url 'fishing:fishing_details' fishing.id %}">{{fishing.date}}</a>
    <a href="{% url 'fishing:fishing_renewal' fishing.id %}" class="btn">Редактировать</a>
    <a href="{% url 'fishing:fishing_remove' fishing.id %}" class="btn">Удалить</a>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>Рыбалок еще не было</p>
{% endif %}
<a href="{% url 'fishing:fishing_add' %}" class="btn">Добавить</a>
<a onclick="back()" class="btn">Назад</a>
{% endif %}


{% if fishing_lure_list != None %}
<!-- Прикормочные смеси -->
{% if fishing_lure_list %}
<ul>
  {% for fishing_lure in fishing_lure_list %}
  <li>
    <a href="{% url 'fishing:fishing_lure_details' fishing_lure.id %}">{{fishing_lure}}</a>
    {% if user.is_staff %}
    {{ fishing_lure.owner }}
    {% endif %}
    {% if fishing_lure.owner == user %}
    <a href="{% url 'fishing:fishing_lure_renewal' fishing_lure.id %}" class="btn">Редактировать</a>
    <a href="{% url 'fishing:fishing_lure_remove' fishing_lure.id %}" class="btn">Удалить</a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
<p>Прикормочных смесей не добавлено</p>
{% endif %}
<p>
  <a href="{% url 'fishing:fishing_lure_add' %}" class="btn">Добавить</a>
  <a onclick="back()" class="btn">Назад</a>
</p>
{% endif %}

{% if fishing_point_list != None %}
<!-- Точки ловли -->
{% if fishing_point_list %}
<ul>
  {% for fishing_point in fishing_point_list %}
  <li>
    <a href="{% url 'fishing:fishing_point_details' district.id water.id place.id fishing_point.id %}">{{fishing_point}}</a>
    {% if fishing_point.owner == user %}
    {% if user.is_staff %}
    {{place.owner}}
    {% endif %}
    <a href="{% url 'fishing:fishing_point_renewal' district.id water.id place.id fishing_point.id %}" class="btn">Редактировать</a>
    <a href="{% url 'fishing:fishing_point_remove' district.id water.id place.id fishing_point.id %}" class="btn">Удалить</a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
<p>Список точек ловли пуст</p>
{% endif %}
<p>
  {% if place.owner == user %}
  <a href="{% url 'fishing:fishing_point_add' district.id water.id place.id %}" class="btn">Добавить</a>
  {% endif %}
  <a onclick="back()" class="btn">Назад</a>
</p>
{% endif %}

{% if tackle_list != None %}
<!-- Снасти -->
{% if tackle_list %}
<ul>
  {% for tackle in tackle_list %}
  <li>
    {{tackle}}
    {% if tackle.owner == user %}
    <a href="{% url 'fishing:tackle_renewal' tackle.id %}" class="btn">Редактировать</a>
    <a href="{% url 'fishing:tackle_remove' tackle.id %}" class="btn">Удалить</a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
<p>Снасти не добавлены</p>
{% endif %}
<p>
  <a href="{% url 'fishing:tackle_add' %}" class="btn">Добавить</a>
  <a onclick="back()" class="btn">Назад</a>
</p>
{% endif %}


{% if leash_list != None %}
<!-- Поводки -->
{% if leash_list %}
<ul>
  <li>
    {% for leash in leash_list %}
    {{leash}}
    {% if leash.owner == user %}
    <a href="{% url 'fishing:leash_renewal' leash.id %}" class="btn">Редактировать</a>
    <a href="{% url 'fishing:leash_remove' leash.id %}" class="btn">Удалить</a>
    {% endif %}
    {% endfor %}
  </li>
</ul>
{% else %}
<p>Поводков еще не добавлено</p>
{% endif %}
<p>
  <a href="{% url 'fishing:leash_add' %}" class="btn">Добавить</a>
  <a onclick="back()" class="btn">Назад</a>
</p>
{% endif %}

{% if lure_base_list != None%}
<!-- Прикормы базовые -->
{% if lure_base_list %}
<ul>
  {% for lure_base in lure_base_list %}
  <li>
    {{lure_base}}
    {% if user.is_staff %}
    {{ lure_base.owner }}
    {% endif %}
    {% if lure_base.owner == user %}
    <a href="{% url 'fishing:lure_base_renewal' lure_base.id %}" class="btn">Редактировать</a>
    <a href="{% url 'fishing:lure_base_remove' lure_base.id %}" class="btn">Удалить</a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
<p>Прикормов не добавлено</p>
{% endif %}
<p>
  <a href="{% url 'fishing:lure_base_add' %}" class="btn">Добавить</a>
  <a onclick="back()" class="btn">Назад</a>
</p>
{% endif %}

{% if model_trough_list != None %}
<!-- Модели кормушек -->
{% if model_trough_list %}
<ul>
  {% for model_trough in model_trough_list %}
  <li>
    {{model_trough.model_trough_name}}
    {% if model_trough.model_trough_plastic%}
    пластик
    {% else %}
    металл
    {% endif %}
    {% if model_trough.model_trough_lugs%}
    с грунтозацепами
    {% endif %}
    {% if user.is_staff %}
    {{ model_trough.owner }}
    {% endif %}
    {% if model_trough.owner == user %}
    <a href="{% url 'fishing:model_trough_renewal' model_trough.id %}" class="btn">Редактировать</a>
    <a href="{% url 'fishing:model_trough_remove' model_trough.id %}" class="btn">Удалить</a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
<p>Вариантов моделей кормушек не добавлено</p>
{% endif %}
<p>
  <a href="{% url 'fishing:model_trough_add' %}" class="btn">Добавить</a>
  <a onclick="back()" class="btn">Назад</a>
</p>
{% endif %}

{% if model_trough_name_list != None %}
<!-- Название моделей кормушек -->
{% if model_trough_name_list %}
<ul>
  {% for model_trough_name in model_trough_name_list %}
  <li>
    {{model_trough_name}}
    {% if user.is_staff %}
    {{ model_trough_name.owner }}
    {% endif %}
    {% if model_trough_name.owner == user %}
    <a href="{% url 'fishing:model_trough_name_renewal' model_trough_name.id %}" class="btn">Редактировать</a>
    <a href="{% url 'fishing:model_trough_name_remove' model_trough_name.id %}" class="btn">Удалить</a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
<p>Модули кормушек не добавлены</p>
{% endif %}
<p>
  <a href="{% url 'fishing:model_trough_name_add' %}" class="btn">Добавить</a>
  <a onclick="back()" class="btn">Назад</a>
</p>
{% endif %}

{% if montage_list != None %}
<!-- Монтажи -->
{% if montage_list %}
<ul>
  {% for montage in montage_list %}
  <li>
    {{montage}}
    {% if user.is_staff %}
    {{ montage.owner }}
    {% endif %}
    <a href="{% url 'fishing:montage_renewal' montage.id %}" class="btn">Редактировать</a>
    <a href="{% url 'fishing:montage_remove' montage.id%}" class="btn">Удалить</a>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>Ни одного мотажа ещё не добавлено</p>
{% endif %}
<p>
  <a href="{% url 'fishing:montage_add' %}" class="btn">Добавить</a>
  <a onclick="back()" class="btn">Назад</a>
</p>
{% endif %}

{% if nozzle_list != None %}
<!-- Навивки -->
{% if nozzle_list %}
<ul>
  {% for nozzle in nozzle_list %}
  <li>
    <a href="{% url 'fishing:nozzle_details' nozzle.id %}">{{nozzle}}</a>
    {% if user.is_staff %}
    {{ nozzle.owner }}
    {% endif %}
    {% if nozzle.owner == user %}
    <a href="{% url 'fishing:nozzle_renewal' nozzle.id %}" class="btn">Редактировать</a>
    <a href="{% url 'fishing:nozzle_remove' nozzle.id %}" class="btn">Удалить</a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
<p>Наживки и насадки не внесены</p>
{% endif %}
<p>
  <a href="{% url 'fishing:nozzle_add' %}" class="btn">Добавить</a>
  <a onclick="back()" class="btn">Назад</a>
</p>
{% endif %}

{% if nozzle_state_list != None %}
<!-- Состояние наживок -->
{% if nozzle_state_list %}
<ul>
  {% for nozzle_state in nozzle_state_list %}
  <li>
    {{nozzle_state}}
    {% if user.is_staff %}
    {{ nozzle_state.owner }}
    {% endif %}
    {% if nozzle_state.owner == user %}
    <a href="{% url 'fishing:nozzle_state_renewal' nozzle_state.id %}" class="btn">Редактировать</a>
    <a href="{% url 'fishing:nozzle_state_remove' nozzle_state.id %}" class="btn">Удалить</a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
<p>Состояний наживки не внесено</p>
{% endif %}
<p>
  <a href="{% url 'fishing:nozzle_state_add' %}" class="btn">Добавить</a>
  <a onclick="back()" class="btn">Назад</a>
</p>
{% endif %}

{% if overcasts_list != None %}
<!-- Облачность -->
{% if overcasts_list %}
<ul>
  {% for overcast in overcasts_list %}
  <li>
    {{overcast.overcast_name}}
    {% if user.is_staff %}
    <a href="{% url 'fishing:overcast_renewal' overcast.id %}" class="btn">Редактировать</a>
    <a href="{% url 'fishing:overcast_remove' overcast.id %}" class="btn">Удалить</a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
<p>Список районов пуст</p>
{% endif %}
<p>
  {% if user.is_staff %}
  <a href="{% url 'fishing:overcast_add' %}" class="btn">Добавить</a>
  {% endif %}
  <a onclick="back()" class="btn">Назад</a>
</p>
{% endif %}

{% if pace_list != None %}
<!-- Темп -->
{% if pace_list %}
<ul>
  {% for pace in pace_list %}
  <li>
    {{pace.pace_interval}}
    {% if user.is_staff %}
    <a href="{% url 'fishing:pace_renewal' pace.id %}" class="btn">Редактировать</a>
    <a href="{% url 'fishing:pace_remove' pace.id %}" class="btn">Удалить</a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
<p>Список интервалов пуст</p>
{% endif %}
<p>
  {% if user.is_staff %}
  <a href="{% url 'fishing:pace_add' %}" class="btn">Добавить</a>
  {% endif %}
  <a onclick="back()" class="btn">Назад</a>
</p>
{% endif %}

{% if place_list != None %}
<!-- Места -->
{% if place_list %}
<ul>
  {% for place in place_list %}
  <li>
    <a href="{% url 'fishing:place_detail' district.id water.id place.id %}">{{place.place_locality}}</a>
    {% if user.is_staff %}
    {{place.owner}}
    {% endif %}
    {% if place.owner == user %}
    <a href="{% url 'fishing:place_renewal' district.id water.id place.id %}" class="btn">Редактировать</a>
    <a href="{% url 'fishing:place_remove' district.id water.id place.id%}" class="btn">Удалить</a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
<p>Список мест пуст</p>
{% endif %}
<p>
  {% if user.is_authenticated %}
  <a href="{% url 'fishing:place_add' district.id water.id %}" class="btn">Добавить</a>
  {% endif %}
  <a onclick="back()" class="btn">Назад</a>
</p>
{% endif %}

{% if primings_list != None %}
<!-- Грунт -->
{% if primings_list %}
<ul>
  {% for priming in primings_list %}
  <li>
    {{priming.priming_name}}
    {% if user.is_staff %}
    <a href="{% url 'fishing:priming_renewal' priming.id %}" class="btn">Редактировать</a>
    <a href="{% url 'fishing:priming_remove' priming.id %}" class="btn">Удалить</a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
<p>Список районов пуст</p>
{% endif %}
<p>
  {% if user.is_staff %}
  <a href="{% url 'fishing:priming_add' %}" class="btn">Добавить</a>
  {% endif %}
  <a onclick="back()" class="btn">Назад</a>
</p>
{% endif %}

{% if trough_list != None %}
<!-- Кормушки -->
{% if trough_list %}
<ul>
  {% for trough in trough_list %}
  <li>
    {{trough}}
    {% if user.is_staff %}
    {{ trough.owner }}
    {% endif %}
    {% if trough.owner == user %}
    <a href="{% url 'fishing:trough_renewal' trough.id %}" class="btn">Редактировать</a>
    <a href="{% url 'fishing:trough_remove' trough.id %}" class="btn">Удалить</a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
<p>Вариантов кормушек не добавлено</p>
{% endif %}
<p>
  <a href="{% url 'fishing:trough_add' %}" class="btn">Добавить</a>
  <a onclick="back()" class="btn">Назад</a>
</p>
{% endif %}

{% if water_list != None %}
<!-- Водоемы -->
{% if water_list %}
<ul>
  {% for water in water_list %}
  <li>
    <a href="{% url 'fishing:place' district.id water.id %}">{{water.water_name}}</a>
    {% if user.is_authenticated %}
    <a href="{% url 'fishing:water_renewal' district.id water.id %}" class="btn">Редактировать</a>
    <a href="{% url 'fishing:water_remove' district.id water.id %}" class="btn">Удалить</a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
<p>Список водоемов пуст</p>
{% endif %}
<p>
  {% if user.is_authenticated %}
  <a href="{% url 'fishing:water_add' district.id %}" class="btn">Добавить</a>
  {% endif %}
  <a onclick="back()" class="btn">Назад</a>
</p>
{% endif %}

{% if weather_list != None %}
<!-- Погода -->
{% if weather_list %}
<ul>
  {% for weather in weather_list %}
  <li>
    <a href="{% url 'fishing:weather_details' district water place weather.id %}">{{weather}}</a>
    <a href="{% url 'fishing:weather_renewal' district water place weather.id %}" class="btn">Редактировать</a>
    <a href="{% url 'fishing:weather_remove' district water place weather.id%}" class="btn">Удалить</a>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>Погода не внесена</p>
{% endif %}
<p>
  {% if user.is_authenticated %}
  <a href="{% url 'fishing:weather_add' district water place %}" class="btn">Добавить</a>
  {% endif %}
  <a onclick="back()" class="btn">Назад</a>
</p>
{% endif %}

{% if weather_phenomena_list != None %}
<!-- Погодные явления -->
{% if weather_phenomena_list %}
<ul>
  {% for phenomena in weather_phenomena_list %}
  <li>
    {{phenomena.weather_phenomena_name}} {% if user.is_staff %}
    <a href="{% url 'fishing:weatherphenomena_renewal' phenomena.id %}" class="btn">Редактировать</a>
    <a href="{% url 'fishing:weatherphenomena_remove' phenomena.id %}" class="btn">Удалить</a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
<p>Список погодных явлений пуст</p>
{% endif %}
<p>
  {% if user.is_staff %}
  <a href="{% url 'fishing:weatherphenomena_add' %}" class="btn">Добавить</a>
  {% endif %}
  <a onclick="back()" class="btn">Назад</a>
</p>
{% endif %}

{% endblock %}