{% extends 'fishing/base.html' %}
{% block content %}

{% if aroma_base_list != None %}
{% if aroma_base_list %}
<!-- Арома для смеси -->
<ul>
    {% for aroma_base in aroma_base_list %}
    <form action="{% url 'fishing:aroma_in_lure_mix_select' fishing_id lure_mix_id aroma_base.id %}" method="GET">
        <p>{{aroma_base}}
            <button class="btn">Выбрать</button>
        </p>
    </form>
    {% endfor %}
</ul>
{% else %}
<p>Аром не добавлено</p>
{% endif %}
<p>
    <button onclick="back()" class="btn">Назад</button>
</p>
{% endif %}

{% if crochet_list != None %}
{% if crochet_list %}
<!-- Крючки для рыбалки -->
<ul>
    {% for crochet in crochet_list %}
    <form action="{% url 'fishing:fishing_crochet_add' fishing_id fishing_tackle_id crochet.id fishing_crochet_id %}" method="post">
        {% csrf_token %}
        <p>{{crochet}}
            <button class="btn">Выбрать</button>
        </p>
    </form>
    {% endfor %}
</ul>
{% else %}
<p>Крючков еще не добавлено</p>
{% endif %}
<p>
    {#<a href="{% url 'fishing:place_add' %}" class="btn">Добавить</a>#}
    <button onclick="back()" class="btn">Назад</button>
</p>
{% endif %}

{% if leash_list != None %}
{% if leash_list %}
<!-- Поводки для рыбалки -->
<ul>
    {% for leash in leash_list %}
    <li>
        {{leash}}<a href="{% url 'fishing:fishing_leash_add' fishing_id fishing_tackle_id leash.id fishing_leash_id %}" class="btn">Выбрать</a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>Поводков еще не добавлено</p>
{% endif %}
<p>
    {#<a href="{% url 'fishing:place_add' %}" class="btn">Добавить</a>#}
    <button onclick="back()" class="btn">Назад</button>
</p>
{% endif %}

{% if lure_base_list != None %}
{% if lure_base_list %}
<!-- Прикорм для смеси -->
<ul>
    {% for lure_base in lure_base_list %}
    <form action="{% url 'fishing:lure_in_lure_mix_select' fishing_id lure_mix_id lure_base.id %}" method="GET">
        <p>{{lure_base}}
            <button class="btn">Выбрать</button>
        </p>
    </form>
    {% endfor %}
</ul>
{% else %}
<p>Прикормочных смесей не добавлено</p>
{% endif %}
<p>
    {#<a href="{% url 'fishing:place_add' %}" class="btn">Добавить</a>#}
    <button onclick="back()" class="btn">Назад</button>
</p>
{% endif %}

{% if lure_mix_list != None %}
{% if lure_mix_list %}
<!-- Прикормочные смеси -->
<ul>
    {% for lure_mix in lure_mix_list %}
    <form action="{% url 'fishing:fishing_lure_add' fishing_id lure_mix.id fishing_lure_id %}" method="post">
        <p>{{lure_mix}}
            <button class="btn">Выбрать</button>
        </p>
    </form>
    {% endfor %}
</ul>
{% else %}
<p>Прикормочных смесей не добавлено</p>
{% endif %}
<p>
    <button onclick="back()" class="btn">Назад</button>
<form action="{% url 'fishing:lure_mix_in_fishing_lure' fishing_id fishing_lure_id %}" method="get">
    <p>
        <button class="btn">Добавить смесь</button>
    </p>
</form>
</p>
{% endif %}

{% if montage_list != None %}
{% if montage_list %}
<!-- Монтаж использованный в рыбалке -->
<ul>
    {% for montage in montage_list %}
    <li>
        {{montage}}<a href="{% url 'fishing:fishing_montage_add' fishing_id fishing_tackle_id montage.id fishing_montage_id%}" class="btn">Выбрать</a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>Монтажей еще не добавлено</p>
{% endif %}
<p>
    {#<a href="{% url 'fishing:place_add' %}" class="btn">Добавить</a>#}
    <button onclick="back()" class="btn">Назад</button>
</p>
{% endif %}

{% if nozzle_list != None %}
{% if nozzle_list %}
<!-- Наживки использованные в рыбалке -->
<ul>
    {% for nozzle in nozzle_list %}
    <form action="{% url 'fishing:fishing_nozzle_add' fishing_id fishing_tackle_id nozzle.id fishing_nozzle_id%}" method="post">
        {% csrf_token %}
        <p>{{nozzle}}
            <button class="btn">Выбрать</button>
        </p>
    </form>
    {% endfor %}
</ul>
{% else %}
<p>Наживок еще не добавлено</p>
{% endif %}
<p>
    {#<a href="{% url 'fishing:place_add' %}" class="btn">Добавить</a>#}
    <button onclick="back()" class="btn">Назад</button>
</p>
{% endif %}

{% if nozzle_base_list != None %}
{% if nozzle_base_list %}
<!-- Наживки использованные в прикормочную смесь -->
<ul>
    {% for nozzle in nozzle_base_list %}
    <form action="{% url 'fishing:nozzle_in_lure_mix_select' fishing_id lure_mix_id nozzle.id %}" method="get">
        {% csrf_token %}
        <p>{{nozzle}}
            <button class="btn">Выбрать</button>
        </p>
    </form>
    {% endfor %}
</ul>
{% else %}
<p>Наживок насадок еще не добавлено</p>
{% endif %}
<p>
    {#<a href="{% url 'fishing:place_add' %}" class="btn">Добавить</a>#}
    <button onclick="back()" class="btn">Назад</button>
</p>
{% endif %}

{% if pace_list != None %}
{% if pace_list %}
<!-- Темп рыбалки -->
<ul>
    {% for pace in pace_list %}
    <form action="{% url 'fishing:fishing_pace_add' fishing_id fishing_tackle_id pace.id fishing_pace_id %}" method="post">
        {% csrf_token %}
        <p>{{pace}}
            <button class="btn">Выбрать</button>
        </p>
    </form>
    {% endfor %}
</ul>
{% else %}
<p>Вариантов темпа еще не добавлено</p>
{% endif %}
<p>
    {#<a href="{% url 'fishing:place_add' %}" class="btn">Добавить</a>#}
    <button onclick="back()" class="btn">Назад</button>
</p>
{% endif %}

{% if place_list != None %}
{% if place_list %}
<!-- Место рыбалки -->
<ul>
    {% for place in place_list %}
    <li>
        {{place.water.district}} {{ place.water }} {{place.place_name}}<a href="{% url 'fishing:place_fishing_add' fishing_id place.id %}" class="btn">Выбрать</a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>Мест еще не добавлено</p>
{% endif %}
<p>
    {#<a href="{% url 'fishing:place_add' %}" class="btn">Добавить</a>#}
    <button onclick="back()" class="btn">Назад</button>
</p>
{% endif %}

{% if tackle_list != None %}
{% if tackle_list %}
<!-- Снасти для рыбалки -->
<ul>
    {% for tackle in tackle_list %}
    <li>
        {{tackle}}<a href="{% url 'fishing:fishing_tackle_add' fishing_id tackle.id fishing_tackle_id %}" class="btn">Выбрать</a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>Снастей еще не добавлено</p>
{% endif %}
<p>
    {#<a href="{% url 'fishing:place_add' %}" class="btn">Добавить</a>#}
    <button onclick="back()" class="btn">Назад</button>
</p>
{% endif %}

{% if trough_list != None %}
{% if trough_list %}
<!-- Кормушки для рыбалки -->
<ul>
    {% for trough in trough_list %}
    <li>
        {{trough}}<a href="{% url 'fishing:fishing_trough_add' fishing_id fishing_tackle_id trough.id fishing_trough_id %}" class="btn">Выбрать</a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>Кормушек еще не добавлено</p>
{% endif %}
<p>
    {#<a href="{% url 'fishing:place_add' %}" class="btn">Добавить</a>#}
    <button onclick="back()" class="btn">Назад</button>
</p>
{% endif %}

{% if weather_list != None %}
{% if weather_list %}
<!-- Погода на рыбалке -->
<ul>
    {% for weather in weather_list %}
    <form action="{% url 'fishing:fishing_weather_add' fishing_id weather.id fishing_weather_id %}" method="post">
        {% csrf_token %}
        <p>{{weather}}
            <button class="btn">Выбрать</button>
        </p>
    </form>
    {% endfor %}
</ul>
{% else %}
<p>Погода еще не добавлена</p>
{% endif %}
<p>
    {#<a href="{% url 'fishing:place_add' %}" class="btn">Добавить</a>#}
    <button onclick="back()" class="btn">Назад</button>
</p>
{% endif %}

{% endblock %}