{% extends 'fishing/base.html' %} {% block content %}
<style>
    p {
        font-size: 120%;
    }
</style>

<p><a href="{% url 'fishing:fish_list' %}">Рыба</a></p>
<p><a href="{% url 'fishing:feed_capacity' %}">Кормоёмкость</a></p>
<p><a href="{% url 'fishing:nozzle_type' %}">Тип насадки</a></p>
<p><a href="{% url 'fishing:water_category' %}">Категории водоёмов</a></p>
<p><a href="{% url 'fishing:pace' %}">Темп</a></p>
{# <p><a href="{% url 'fishing:districts' %}"><span style="color: red;">Районы</span></a></p> #}
<p><a href="{% url 'fishing:overcast' %}">Облачность</a></p>
<p><a href="{% url 'fishing:conditions' %}">Погодные явления</a></p>
<p><a href="{% url 'fishing:primings' %}">Грунт</a></p>
{% endblock %}