{% extends 'fishing/base.html' %}
{% block content %}
{% load static %}

{% if fish != None %}
<!-- Рыба -->
<div class="content__inner">
  <div class="content__item-title">
    <p>{{ fish.name }}</p>
  </div>
  <div class="content__item-text">
    <p>{{ fish.description|linebreaks }}</p>
  </div>

  <div class="content__item content__item--btn-position">
    <a class="button__std" href="{% url 'fishing:settings_fish_edit' fish.id %}">
      <img class="button__img" src="{% static 'images/edit.png' %}" alt="">
      Редактировать
    </a>
    <a class="button__std" href="{% url 'fishing:settings_fish_list' %}">
      Назад
    </a>
  </div>
</div>
{% endif %}

{% endblock %}
