{% extends 'fishing/base.html' %}
{% load static %}
{% block content %}


  <div class="errors">
    <div class="errors__inner">
      {% for error in form.non_field_errors %}
        <div class="errors__item">
          <p>{{ error }}</p>
        </div>
      {% endfor %}
    </div>
  </div>

  <form class="content__form" action="" method="POST">
    {% csrf_token %}
    <table>
      <tr>
        <td>
          {{ form.nozzle_state.label_tag }}
        </td>
        <td>
          <label class="textareaContainer">
            <select class="content__input" name="nozzle_state" id="id_nozzle_state">
              <option value selected></option>
              {% for nozzle_state in nozzle_states %}
                <option value="{{ nozzle_state.id }}" {% if nozzle_state.id == form.nozzle_state.value %} selected {% endif %}>{{nozzle_state}}</option>
              {% endfor %}
            </select>
          </label>
        </td>
      </tr>
      {% if form.nozzle_state.errors %}
      <tr>
        <td></td>
        <td>
          <div class="errors">
            <div class="errors__inner">
              {% for error in form.nozzle_state.errors %}
                <div class="errors__item">
                  <p>{{ error }}</p>
                </div>
              {% endfor %}
            </div>
          </div>
        </td>
      </tr>
      {% endif %}
      <tr>
        <td>{{ form.number.label_tag }}</td>
        <td>
          <label class="textareaContainer textareaContainer--right8">
            <input class="content__input" type="number" min="1" step="1" name="number" id="id_number" value={{form.number.value}}>
          </label>
        </td>
      </tr>
    </table>
    <div class="content__item content__item--btn-position">
      <button class="button__std">Сохранить</button>
      <a class="button__std" href="{% url 'fishing:fishing_nozzle_select' fishing_id fishing_tackle_id nozzle_position %}">Назад</a>
    </div>
  </form>

  

{% endblock %}