{% extends 'fishing/base.html' %}
{% block content %}
<style>
  p {
    text-align: center;
    font-size: 140%;
    font-style: oblique;
  }
</style>
{% if place %}
<p>Редактирование места</p>
{% else %}
<p>Добавление места</p>
{% endif %}

<p class="text-danger" style="font-size: 100%;">{{ errors }}</p>

{% for error in form.name.errors %}
  <p class="text-danger" style="font-size: 100%;">{{ error }}</p>
{% endfor %}

{% for error in form.locality.errors %}
  <p class="text-danger" style="font-size: 100%;">{{ error }}</p>
{% endfor %}

<form action="" method="post" style="text-align: center; margin: auto;">
  {% csrf_token %}
  <table style="text-align: center; margin: auto;">
    <tr>
      <td>{{ form.name.label_tag }}</td>
      <td>{{ form.name }}</td>
    </tr>
    <tr>
      <td>{{ form.locality.label_tag }}</td>
      <td>{{ form.locality }}</td>
    </tr>
  </table>
  <br />
  <button class="btn btn-secondary" role="button">Сохранить</button>
  <a href="{% url 'fishing:places' water.id %}" class="btn btn-secondary" role="button">Назад</a>
</form>
{% endblock %}
