{% extends 'fishing/base.html' %}
{% block content %}

{% if places_list %}
<table class="table table-hover" style="margin: auto;">
  {% for place in places_list %}
  <tr >
    <td style="text-align: center; border: 0;" title={{place.coordinates}}>
    {{place}}
    </td>
    {% if place.owner == user %}
    <td style="text-align: center; width: 9%; border: 0;">
      <a href="{% url 'fishing:place_coordinates_add' water.id place.id %}" class="btn btn-secondary" role="button">Координаты</a>
    </td>
    <td style="text-align: center; width: 10%; border: 0;">
      <a href="{% url 'fishing:place_edit' water.id place.id %}" class="btn btn-secondary" role="button">Редактировать</a>
    </td>
    <td style="text-align: center; width: 6%; border: 0;">
      <a href="{% url 'fishing:place_delete' water.id place.id %}" class="btn btn-secondary" role="button">Удалить</a>
    </td>
    {% endif %}
  </tr>
  {% endfor %}
</table>
{% else %}
<p style="margin: auto;">Ни одного места ещё не добавлено</p>
{% endif %}
<br/>
<p style="text-align: center;">
  {% if user.is_staff %}
  <a href="{% url 'fishing:place_add' water.id %}" class="btn btn-secondary" role="button">Добавить</a>
  {% endif %}
  <a href="{% url 'fishing:water' %}" class="btn btn-secondary" role="button">Назад</a>
</p>

{% endblock %}
