{% extends 'fishing/base.html' %}

{% block content %}
<div class="info">
  <form class="info__login-form" method="post">
    {% csrf_token %}
    <div class="info__login-block">
      <p class="info__login-form-text">{{ form.email.label_tag }}</p>
      <input class="info__login-form-input" type="email" name="email" autofocus autocapitalize="none" autocomplete="username" maxlength="254" required id="id_email" value={{ form.email.value|default_if_none:"" }}>
      <div class="info__login-form-error">
        {% for error in form.email.errors %}
          <p>{{ error }}</p>
        {% endfor %}
      </div>
      <p class="info__login-form-text">{{ form.nick.label_tag }}</p>
      <input class="info__login-form-input" type="text" name="nick" maxlength="14" required id="id_nick" value={{ form.nick.value|default_if_none:"" }}>
      <p class="info__login-form-text">{{ form.password1.label_tag }}</p>
      <input class="info__login-form-input" type="password" name="password1" autocomplete="current-password" required id="id_password1">
      <p class="info__login-form-text">{{ form.password2.label_tag }}</p>
      <input class="info__login-form-input" type="password" name="password2" autocomplete="current-password" required id="id_password2">
    </div>
    <div class="info__login-form-error">
      {% if form.password1.errors or form.password2.errors %}
        {% for error in form.password1.errors %}
          <p>{{ error }}</p>
        {% endfor %}
        {% for error in form.password2.errors %}
          <p>{{ error }}</p>
        {% endfor %}
      {% endif %}
    </div>
    <button class="info__button" type="submit">Регистрация</button>
  </form>
</div>

{% endblock content %}
