{% extends 'fishing/base.html' %}

{% block content %}
<style>
  p {
    text-align: center;
    font-size: 140%;
    font-style: oblique;
  }
</style>
<p>Регистрация</p>
<form method="post" style="text-align: center; margin: auto;">
  {% csrf_token %}
  <table style="text-align: left; margin: auto;">
    {% if form.email.errors %}
    <tr>
      <td colspan="2">
        {% for error in form.email.errors %}
          <p class="text-danger">{{ error }}</p>
        {% endfor %}
      </td>
    </tr>
    {% endif %}
    <tr>
      <td style="text-align: right;">{{ form.email.label_tag }}</td>
      <td>{{ form.email }}</td>
    </tr>
    {% if form.password1.errors or form.password2.errors %}
    <tr>
      <td colspan="2">
        {% for error in form.password1.errors %}
          <p class="text-danger">{{ error }}</p>
        {% endfor %}
        {% for error in form.password2.errors %}
          <p class="text-danger">{{ error }}</p>
        {% endfor %}
      </td>
    </tr>
    {% endif %}
    <tr>
      <td style="text-align: right;">{{ form.password1.label_tag }}</td>
      <td>{{ form.password1 }}</td>
    </tr>
    <tr>
      <td style="text-align: right;">{{ form.password2.label_tag }}</td>
      <td>{{ form.password2 }}</td>
    </tr>
    <ul>
  </ul>
  </table>
  <br />
  <input type="submit" class="btn btn-secondary" value="Регистрация" />
</form>

{% endblock content %}