{% extends 'fishing/base.html' %}

{% block content %}
<div>
    {% if post.published_date %}
        <div>
            {{ post.published_date }}
        </div>
    {% endif %}
    {% if user.is_authenticated %}
        <a href="{% url 'blog:post_edit' post.pk %}">Изменить</a>
    {% endif %}
    <h1><strong>Тема: </strong>{{ post.title }}</h1>
    <p><strong>Описание: </strong> {{ post.text|linebreaksbr }}</p>
    <p><strong>Ссылка: </strong> {{ post.adress }}</p>
</div>
<a href="{% url 'blog:post_list' %}" class="btn">Назад</a>
{% endblock %}