{% extends 'fishing/base.html' %}

{% block content %}

<div class="content__item">
  <p class="content__item-title">{{ post.title }}</p>
  <div class="content__item-info">
    <p class="content__item-date">{{ post.created_date }}</p>
    <p class="content__item-author">Автор: {{ post.author.nick }}</p>
  </div>
  <div class="content__item-text content__item-text--discription">
    {{ post.discription }}
  </div>
  <div class="content__item-text">
      {{ post.text }}
  </div>
</div>
<div class="content__item content__item--btn-position">
  <a class="button__std" href="{% url 'fishing:index' %}" class="btn">Назад</a>
</div>

{% endblock %}