{% extends 'fishing/base.html' %}
{% load static %}
{% block content %}

{% if water_list %}
<!-- Место рыбалки -->
  <table>
    <thead>
      <th colspan="2">Выбирите водоём</th>
    </thead>
    {% for water in water_list %}
    <tr >
      <td>
      {{water}}
      </td>
      <td>
        <a href="{% url 'fishing:fishing_place_water_place_add' fishing_id water.id %}">
          <img class="button__img" src="{% static 'images/check.png' %}" alt="Выбрать">
        </a>
      </td>
    </tr>
    {% endfor %}
  </table>
{% else %}
<div class="content__item-text">
  <p>Водоёмы еще не добавлены</p>
</div>
{% endif %}
<div class="content__item content__item--btn-position">
  <a class="button__std" href="{% url 'fishing:fishing_place_water_add' fishing_id %}">
    <img class="button__img" src="{% static 'images/add.png' %}" alt="">
    Водоём
  </a>
  <a class="button__std" href="{% url 'fishing:fishing_place_select' fishing_id %}">Назад</a>
</div>

{% endblock %}