{% extends 'fishing/base.html' %}
{% block content %}
{% load static %}


{% if montage_list %}
  <table>
    {% for montage in montage_list %}
    <tr>
      <td>
        {{montage}}
      </td>
      <td>
        <a href="{% url 'fishing:fishing_montage_add' fishing_id fishing_tackle_id montage.id %}">
          <img class="button__img" src="{% static 'images/check.png' %}" alt="Выбрать">
        </a>
      </td>
    </tr>
    {% endfor %}
  </table>
{% else %}
  <div class="content__item">
    <p>Монтажей еще не добавлено</p>
  </div>
{% endif %}
<div class="content__item content__item--btn-position">
  <a class="button__std" href="{% url 'fishing:fishing_new_montage_add' fishing_id fishing_tackle_id %}">
    <img class="button__img" src="{% static 'images/add.png' %}" alt="">
    Монтаж
  </a>
  <a class="button__std" href="{% url 'fishing:fishing_details' fishing_id %}">
    Назад
  </a>
</div>

{% endblock %}