{% extends 'fishing/base.html' %}
{% block content %}
<style>
  p {
    text-align: center;
    font-size: 140%;
    font-style: oblique;
  }
</style>
{% if pace %}
<p>Редактирование варианта темпа ловли</p>
{% else %}
<p>Добавление варианта темпа ловли</p>
{% endif %}

{% for error in form.interval.errors %}
  <p class="text-danger" style="font-size: 100%;">{{ error }}</p>
{% endfor %}

<form action="" method="post" style="text-align: center; margin: auto;">
  {% csrf_token %}
  <table style="text-align: center; margin: auto;">
    <tr>
      <td>{{ form.interval.label_tag }}</td>
      <td>{{ form.interval }}</td>
    </tr>
  </table>
  <br />
  <button class="btn btn-secondary" role="button">Сохранить</button>
  <a href="{% url 'fishing:pace' %}" class="btn btn-secondary" role="button">Назад</a>
</form>
{% endblock %}
