<html>
  <head>
    <title>Fishing oracle</title>
  </head>
  <body>
    <div>
      <h1><a href="/">Домой</a></h1>
    </div>
    <div>
      <div>
        <div>
          {% block content %} {% endblock %}
        </div>
      </div>
    </div>
  </body>
  <style>
    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: red;
      color: white;
      text-align: center;
    }
  </style>
  <div class="footer">
    <p>Вы просматривали эту страницу {{ num_visits }} раз.</p>
  </div>
</html>
