{% extends 'fishing/base.html' %}
{% block content %}
{% if point_list %}
<ul>
  {% for point in point_list %}
  <li>
    <a href="{% url 'fishing:point_details' district.id water.id place.id bottom_map.id point.id %}">{{point}}</a>
    {% if place.owner == user %}
    <a href="{% url 'fishing:point_renewal' district.id water.id place.id bottom_map.id point.id %}" class="btn">Редактировать</a>
    <a href="{% url 'fishing:point_remove' district.id water.id place.id bottom_map.id point.id %}" class="btn">Удалить</a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
<p>Ни одной точки ещё не добавлено.</p>
{% endif %}
<p>
  {% if user.is_authenticated %}
  <a href="{% url 'fishing:point_add' district.id water.id place.id bottom_map.id %}" class="btn">Добавить</a>
  {% endif %}
  <a onclick="back()" class="btn">Назад</a>
</p>
{% endblock %}