{% extends 'fishing/base.html' %}
{% block content %}
{% if bottom_map_list %}
<ul>
  {% for bottom_map in bottom_map_list %}
  <li>
    <a href="{% url 'fishing:bottom_map_details' district.id water.id place.id bottom_map.id %}">{{bottom_map}}</a>
    {% if user.is_staff %}
    {{bottom_map.owner}}
    {% endif %}
    {% if place.owner == user %}
    <a href="{% url 'fishing:bottom_map_renewal' district.id water.id place.id bottom_map.id %}" class="btn">Редактировать</a>
    <a href="{% url 'fishing:bottom_map_remove' district.id water.id place.id bottom_map.id %}" class="btn">Удалить</a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
<p>Список маркерных карт пуст</p>
{% endif %}
<p>
  {% if user.is_authenticated %}
  <a href="{% url 'fishing:bottom_map_add' district.id water.id place.id %}" class="btn">Добавить</a>
  <a onclick="back()" class="btn">Назад</a>
</p>
{% endif %}
{% endblock %}