{% extends 'fishing/base.html' %}
{% block content %}
{% if feed_capacity_list %}
<ul>
  {% for capacity in feed_capacity_list %}
  <li>
    {{capacity.feed_capacity_name}}
    {% if user.is_staff %}
    <a href="{% url 'fishing:feed_capacity_renewal' capacity.id %}">Редактировать</a>
    <a href="{% url 'fishing:feed_capacity_remove' capacity.id %}">Удалить</a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
<p>Список вариантов кормоёмкости пуст</p>
{% endif %}
{% if user.is_staff %}
<p><a href="{% url 'fishing:feed_capacity_add' %}">Добавить</a></p>
{% endif %}
{% endblock %}