{% extends 'fishing/base.html' %}
{% block content %}
{% if fishing_point_list %}
<ul>
  {% for fishing_point in fishing_point_list %}
  <li>
    <a href="{% url 'fishing:fishing_point_details' district.id water.id place.id fishing_point.id %}">{{fishing_point}}</a>
    {% if fishing_point.owner == user %}
    {% if user.is_staff %}
    {{place.owner}}
    {% endif %}
    <a href="{% url 'fishing:fishing_point_renewal' district.id water.id place.id fishing_point.id %}">Редактировать</a>
    <a href="{% url 'fishing:fishing_point_remove' district.id water.id place.id fishing_point.id %}">Удалить</a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
<p>Список точек ловли пуст</p>
{% endif %}
{% if place.owner == user %}
<p><a href="{% url 'fishing:fishing_point_add' district.id water.id place.id %}">Добавить</a></p>
{% endif %}
{% endblock %}