{% extends 'fishing/base.html' %}
{% block content %}
{% if fishing_trough_list %}
<ul>
  {% for fishing_trough in fishing_trough_list %}
  <li>
    {{fishing_trough}}
    {% if user.is_staff %}
    {{ fishing_trough.owner }}
    {% endif %}
    {% if fishing_trough.owner == user %}
    <a href="{% url 'fishing:fishing_trough_renewal' fishing_trough.id %}" class="btn">Редактировать</a>
    <a href="{% url 'fishing:fishing_trough_remove' fishing_trough.id %}" class="btn">Удалить</a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
<p>Вариантов кормушек не добавлено</p>
{% endif %}
<p>
  <a href="{% url 'fishing:fishing_trough_add' %}" class="btn">Добавить</a>
  <a onclick="back()" class="btn">Назад</a>
</p>
{% endblock %}