{% extends 'fishing/base.html' %}
{% block content %}
{% if fishing_point_list %}
<ul>
  {% for fishing_point in fishing_point_list %}
  <li>
    <a href="{% url 'fishing:fishing_point_details' district.id water.id place.id fishing_point.id %}">{{fishing_point}}</a>
    {% if fishing_point.owner == user %}
    {% if user.is_staff %}
    {{place.owner}}
    {% endif %}
    <a href="{% url 'fishing:fishing_point_renewal' district.id water.id place.id fishing_point.id %}" class="btn">Редактировать</a>
    <a href="{% url 'fishing:fishing_point_remove' district.id water.id place.id fishing_point.id %}" class="btn">Удалить</a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
<p>Список точек ловли пуст</p>
{% endif %}
<p>
  {% if place.owner == user %}
  <a href="{% url 'fishing:fishing_point_add' district.id water.id place.id %}" class="btn">Добавить</a>
  {% endif %}
  <a onclick="back()" class="btn">Назад</a>
</p>
{% endblock %}