{% extends 'fishing/base.html' %}
{% block content %}
{% if fishing_montage_list %}
<ul>
  {% for fishing_montage in fishing_montage_list %}
  <li>
    {{fishing_montage}}
    {% if user.is_staff %}
    {{ fishing_montage.owner }}
    {% endif %}
    <a href="{% url 'fishing:fishing_montage_renewal' fishing_montage.id %}" class="btn">Редактировать</a>
    <a href="{% url 'fishing:fishing_montage_remove' fishing_montage.id%}" class="btn">Удалить</a>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>Ни одного мотажа ещё не добавлено</p>
{% endif %}
<p>
  <a href="{% url 'fishing:fishing_montage_add' %}" class="btn">Добавить</a>
  <a onclick="back()" class="btn">Назад</a>
</p>
{% endblock %}