{% extends 'fishing/base.html' %}
{% block content %}
{% if fishing_tackle_list %}
<ul>
  {% for fishing_tackle in fishing_tackle_list %}
  <li>
    {{fishing_tackle}}
    {% if fishing_tackle.owner == user %}
    <a href="{% url 'fishing:fishing_tackle_renewal' fishing_tackle.id %}" class="btn">Редактировать</a>
    <a href="{% url 'fishing:fishing_tackle_remove' fishing_tackle.id %}" class="btn">Удалить</a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
<p>База рыб пуста</p>
{% endif %}
<p>
  <a href="{% url 'fishing:fishing_tackle_add' %}" class="btn">Добавить</a>
  <a onclick="back()" class="btn">Назад</a>
</p>
{% endblock %}