{% extends 'fishing/base.html' %}
{% block content %}
{% if model_trough_name_list %}
<ul>
  {% for model_trough_name in model_trough_name_list %}
  <li>
    {{model_trough_name}}
    {% if user.is_staff %}
    {{ model_trough_name.owner }}
    {% endif %}
    {% if model_trough_name.owner == user %}
    <a href="{% url 'fishing:model_trough_name_renewal' model_trough_name.id %}" class="btn">Редактировать</a>
    <a href="{% url 'fishing:model_trough_name_remove' model_trough_name.id %}" class="btn">Удалить</a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
<p>База рыб пуста</p>
{% endif %}
<p>
  <a href="{% url 'fishing:model_trough_name_add' %}" class="btn">Добавить</a>
  <a onclick="back()" class="btn">Назад</a>
</p>
{% endblock %}