{% extends 'fishing/base.html' %}
{% block content %}
{% if model_trough_list %}
<ul>
  {% for model_trough in model_trough_list %}
  <li>
    {{model_trough.model_trough_name}}
    {% if model_trough.model_trough_plastic%}
    пластик
    {% else %}
    металл
    {% endif %}
    {% if model_trough.model_trough_lugs %}
    с грунтозацепами
    {% endif %}
    {% if user.is_staff %}
    {{ model_trough.owner }}
    {% endif %}
    {% if model_trough.owner == user %}
    <a href="{% url 'fishing:model_trough_renewal' model_trough.id %}" class="btn">Редактировать</a>
    <a href="{% url 'fishing:model_trough_remove' model_trough.id %}" class="btn">Удалить</a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
<p>Вариантов моделей кормушек не добавлено</p>
{% endif %}
<p>
  <a href="{% url 'fishing:model_trough_add' %}" class="btn">Добавить</a>
  <a onclick="back()" class="btn">Назад</a>
</p>
{% endblock %}