{% extends 'fishing/base.html' %}
{% block content %}
{% if overcasts_list %}
<ul>
  {% for overcast in overcasts_list %}
  <li>
    {{overcast.overcast_name}}
    {% if user.is_staff %}
    <a href="{% url 'fishing:overcast_renewal' overcast.id %}">Редактировать</a>
    <a href="{% url 'fishing:overcast_remove' overcast.id %}">Удалить</a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
<p>Список районов пуст</p>
{% endif %}
{% if user.is_staff %}
<p><a href="{% url 'fishing:overcast_add' %}">Добавить</a></p>
{% endif %}
{% endblock %}