{% extends 'fishing/base.html' %}
{% block content %}
{% if pace_list %}
<ul>
  {% for pace in pace_list %}
  <li>
    {{pace.pace_interval}}
    {% if user.is_staff %}
    <a href="{% url 'fishing:pace_renewal' pace.id %}">Редактировать</a>
    <a href="{% url 'fishing:pace_remove' pace.id %}">Удалить</a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
<p>Список интервалов пуст</p>
{% endif %}
{% if user.is_staff %}
<p><a href="{% url 'fishing:pace_add' %}">Добавить</a></p>
{% endif %}
{% endblock %}