{% extends 'fishing/base.html' %}
{% block content %}
{% if weather_phenomena_list %}
<ul>
  {% for phenomena in weather_phenomena_list %}
  <li>
    {{phenomena.weather_phenomena_name}}
    {% if user.is_staff %}
    <a href="{% url 'fishing:weatherphenomena_renewal' phenomena.id %}" class="btn">Редактировать</a>
    <a href="{% url 'fishing:weatherphenomena_remove' phenomena.id %}" class="btn">Удалить</a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
<p>Список погодных явлений пуст</p>
{% endif %}
<p>
  {% if user.is_staff %}
  <a href="{% url 'fishing:weatherphenomena_add' %}" class="btn">Добавить</a>
  {% endif %}
  <a onclick="back()" class="btn">Назад</a>
</p>
{% endblock %}