{% extends 'fishing/base.html' %}
{% block content %}
{% if place_list %}
<ul>
  {% for place in place_list %}
  <li>
    <a href="{% url 'fishing:place_detail' district.id water.id place.id %}">{{place.place_locality}}</a>
    {% if user.is_staff %}
    {{place.owner}}
    {% endif %}
    {% if place.owner == user %}
    <a href="{% url 'fishing:place_renewal' district.id water.id place.id %}" class="btn">Редактировать</a>
    <a href="{% url 'fishing:place_remove' district.id water.id place.id%}" class="btn">Удалить</a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
<p>Список мест пуст</p>
{% endif %}
<p>
  {% if user.is_authenticated %}
  <a href="{% url 'fishing:place_add' district.id water.id %}" class="btn">Добавить</a>
  {% endif %}
  <a onclick="back()" class="btn">Назад</a>
</p>
{% endblock %}