{% extends 'fishing/base.html' %}
{% block content %}
{% if place_list %}
<ul>
  {% for place in place_list %}
  <li>
    <a href="{% url 'fishing:place_detail' district.id water.id place.id %}">{{place.place_locality}}</a>
    {% if user.is_staff %}
    {{place.owner}}
    {% endif %}
    {% if place.owner == user %}
    <a href="{% url 'fishing:place_renewal' district.id water.id place.id %}">Редактировать</a>
    <a href="{% url 'fishing:place_remove' district.id water.id place.id%}">Удалить</a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
<p>Список мест пуст</p>
{% endif %}
{% if user.is_authenticated %}
<p><a href="{% url 'fishing:place_add' district.id water.id %}">Добавить</a></p>
{% endif %}
{% endblock %}