{% extends 'fishing/base.html' %}
{% block content %}
{% if water_list %}
<ul>
  {% for water in water_list %}
  <li>
    {{water.district}} - {{water.water_name}}
    {% if user.is_staff %}
    <a href="{% url 'fishing:water_renewal' water.id %}">Редактировать</a>
    <a href="{% url 'fishing:water_remove' water.id %}">Удалить</a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
<p>Список водоемов пуст</p>
{% endif %}
{% if user.is_staff %}
<p><a href="{% url 'fishing:water_add' %}">Добавить</a></p>
{% endif %}
{% endblock %}