{% extends 'fishing/base.html' %}
{% block content %}
{% if water_list %}
<ul>
  {% for water in water_list %}
  <li>
    <a href="{% url 'fishing:place' district.id water.id %}">{{water.water_name}}</a>
    {% if user.is_authenticated %}
    <a href="{% url 'fishing:water_renewal' district.id water.id %}">Редактировать</a>
    <a href="{% url 'fishing:water_remove' district.id water.id %}">Удалить</a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
<p>Список водоемов пуст</p>
{% endif %}
{% if user.is_authenticated %}
<p><a href="{% url 'fishing:water_add' district.id %}">Добавить</a></p>
{% endif %}
{% endblock %}