{% extends 'fishing/base.html' %}
{% block content %}
{% if weather_list %}
<ul>
  {% for weather in weather_list %}
  <li>
    <a href="{% url 'fishing:weather_details' district water place weather.id %}">{{weather}}</a>
    <a href="{% url 'fishing:weather_renewal' district water place weather.id %}" class="btn">Редактировать</a>
    <a href="{% url 'fishing:weather_remove' district water place weather.id%}" class="btn">Удалить</a>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>Погода не внесена</p>
{% endif %}
<p>
  {% if user.is_authenticated %}
  <a href="{% url 'fishing:weather_add' district water place %}" class="btn">Добавить</a>
  {% endif %}
  <a onclick="back()" class="btn">Назад</a>
</p>
{% endblock %}