{% extends 'fishing/base.html' %}
{% block content %}
<div class="content__item">
  <div class="errors">
    <div class="errors__inner">
      <div class="errors__item">
        <p>{{ errors }}</p>
      </div>
      {% for error in form.non_field_errors %}
        <div class="errors__item">
          <p>{{ error }}</p>
        </div>
      {% endfor %}
    </div>
  </div>

  <form class="content__form" action="" method="post">
    {% csrf_token %}
    <table>
      <tr>
        <td>
          {{ form.name.label_tag }}
        </td>
        <td>
          <label class="textareaContainer textareaContainer--right8">
            <input class="content__input" type="text" maxlength="50" required name="name" id="id_name" value="{{ form.name.value|default_if_none:'' }}">
          </label>
        </td>
      </tr>
      {% if form.name.errors %}
        <tr>
          <td></td>
          <td>
            <div class="errors">
              <div class="errors__inner">
                {% for error in form.name.errors %}
                  <div class="errors__item">
                    <p>{{ error }}</p>
                  </div>
                {% endfor %}
              </div>
            </div>
          </td>
        </tr>
      {% endif %}
    </table>
    <div class="content__item content__item--btn-position">
      <button class="button__std">
        Сохранить
      </button>
      <a class="button__std" href="{% url 'fishing:primings' %}">
        Назад
      </a>
    </div>
  </form>
</div>

{% endblock %}
