{% extends 'fishing/base.html' %}
{% block content %}

{% if lure_mix != None %}
<!-- Прикормочная смесь -->
<div>
<p style="font-size: 140%; font-style: oblique; text-align: center;"> {{ lure_mix.name }}</p>

<table class="table" style="margin: auto;">
  <tr style="text-align: center; width: 35%; border: 0;">
    <th>Прикормы</th>
    <th>Аромы</th>
  </tr>
  <tr>
    <td style="text-align: center; width: 35%; border: 0;">
    {% if lure_mix.lure_set.all %}
    <table class="table table-hover"  width="100%" cellpadding="0" cellspacing="0">
        {% for lure in lure_mix.lure_set.all %}
          <tr>
            <td style="text-align: center; width: 29%; border: 0;">
              <p><strong>Прикорм: </strong> {{ lure.base }}</p>
                <p><strong>Доля прикорма: </strong>{{ lure.weight }}</p>
              </td>
              <td style="text-align: center; width: 6%; border: 0;">
                <p>
                  <a href="{% url 'fishing:delete_lure_of_mix' lure_mix.id lure.id %}" class="btn btn-secondary" role="button">Удалить</a>
                </p>
                <p>
                  <a href="{% url 'fishing:edit_lure_to_mix' lure_mix.id lure.id %}" class="btn btn-secondary" role="button">Редактировать</a>
                </p>
              </td>
            </tr>
            {% endfor %}
      </table>
      {% else %}
        Прикормы не использованы
      {% endif %}
    </td>
    <td style="text-align: center; width: 35%; border: 0;">
        {% if lure_mix.aroma_set.all %}
        <table class="table table-hover"  width="100%" cellpadding="0" cellspacing="0">
            {% for aroma in lure_mix.aroma_set.all %}
              <tr>
                <td style="text-align: center; width: 29%; border: 0;">
                  <p><strong>Арома: </strong> {{ aroma.base }}</p>
                    <p><strong>Доля аромы: </strong>{{ aroma.volume }}</p>
                  </td>
                  <td style="text-align: center; width: 6%; border: 0;">
                    <p>
                      <a href="{% url 'fishing:delete_aroma_of_mix' lure_mix.id aroma.id %}" class="btn btn-secondary" role="button">Удалить</a>
                    </p>
                    <p>
                      <a href="{% url 'fishing:edit_aroma_to_mix' lure_mix.id aroma.id %}" class="btn btn-secondary" role="button">Редактировать</a>
                    </p>
                  </td>
                </tr>
                {% endfor %}
          </table>
          {% else %}
            Аромы не использованы
          {% endif %}
    </td>
  </tr>
  <tr>
      <td style="text-align: center; width: 29%; border: 0;">
        <a href="{% url 'fishing:select_lure_for_mix' lure_mix.id %}" class="btn btn-secondary" role="button">Добавить</a>
      </td>
      <td style="text-align: center; width: 29%; border: 0;">
        <a href="{% url 'fishing:select_aroma_for_mix' lure_mix.id %}" class="btn btn-secondary" role="button">Добавить</a>
      </td>
  </tr>
  <tr style="text-align: center; width: 35%; border: 0;">
    <th>Добавки</th>
    <th>Рыбалки</th>
  </tr>
  <tr>
    <td style="text-align: center; width: 35%; border: 0;">
      {% if lure_mix.nozzle_set.all %}
      <table class="table table-hover"  width="100%" cellpadding="0" cellspacing="0">
          {% for nozzle in lure_mix.nozzle_set.all %}
            <tr>
              <td style="text-align: center; width: 29%; border: 0;">
                  {% if nozzle.base.bait %}
                    <p><strong>Живой компонент: </strong> {{ nozzle.base }}</p>
                    <p><strong>Состояние: </strong>{{ nozzle.state }}</p>
                  {% else %}
                    <p><strong>Добавка: </strong> {{ nozzle.base }}</p>
                    <p><strong>Состояние: </strong>{{ nozzle.state }}</p>
                  {% endif %}
                </td>
                <td style="text-align: center; width: 6%; border: 0;">
                  <p>
                    <a href="{% url 'fishing:delete_nozzle_of_mix' lure_mix.id nozzle.id %}" class="btn btn-secondary" role="button">Удалить</a>
                  </p>
                  <p>
                    <a href="{% url 'fishing:edit_nozzle_to_mix' lure_mix.id nozzle.id %}" class="btn btn-secondary" role="button">Редактировать</a>
                  </p>
                </td>
              </tr>
              {% endfor %}
        </table>
        {% else %}
          Добавки не использованы
        {% endif %}
      </td>
    <td style="text-align: center; width: 35%; border: 0;">
      {% if lure_mix.fishinglure_set.all %}
      <table class="table table-hover"  width="100%" cellpadding="0" cellspacing="0">
        {% for fishinglure in lure_mix.fishinglure_set.all %}
          <tr>
            <td style="text-align: center; border: 0;">
              {{ fishinglure.fishing }}
            </td>
          </tr>
        {% endfor %}
      </table>
      {% else %}
      В рыбалках не использован
      {% endif %}
    </td>
  </tr>
  <tr>
    <td  style="text-align: center; width: 29%; border: 0;">
      <a href="{% url 'fishing:select_nozzle_for_mix' lure_mix.id %}" class="btn btn-secondary" role="button">Добавить</a>
    </td>
    <td style="text-align: center; width: 29%; border: 0;">
      
    </td>
  </tr>
</table>

<p style="text-align: center;">
  {% if lure_mix.owner == user %}
  <a href="{% url 'fishing:lure_mix_edit' lure_mix.id %}" class="btn btn-secondary" role="button">Редактировать</a>
  {% endif %}
  <a href="{% url 'fishing:lure_mix' %}" class="btn btn-secondary" role="button">Назад</a>
</p>
</div>
{% endif %}

{% endblock %}