{% extends 'fishing/base.html' %}
{% block content %}
<style>
  p {
    text-align: center;
    font-size: 140%;
    font-style: oblique;
  }
</style>
{% if nozzle %}
<p>Редактирование наживки в смеси</p>
{% else %}
<p>Добавление наживки в смесь</p>
{% endif %}
<br />
<p class="text-danger" style="font-size: 100%;">{{ errors }}</p>

{% for error in form.state.errors %}
  <p class="text-danger" style="font-size: 100%;">{{ error }}</p>
{% endfor %}

<form action="" method="post" style="text-align: center; margin: auto;">
  {% csrf_token %}
  <table style="text-align: center; margin: auto;">
    <tr>
      <td>{{ form.state.label_tag }}</td>
      <td>{{ form.state }}</td>
    </tr>
  </table>
  <br />
  <button class="btn btn-secondary" role="button">Сохранить</button>
  <a href="{% url 'fishing:lure_mix_details' lure_mix.id %}" class="btn btn-secondary" role="button">Назад</a>
</form>
{% endblock %}
