{% extends 'fishing/base.html' %}
{% block content %}

{% if aroma_base_list %}
<!-- Аромы для смеси -->
<table class="table table-hover"  width="100%" cellpadding="0" cellspacing="0">
    {% for aroma_base in aroma_base_list %}
    <tr>
      <td style="text-align: center; width: 19%; border: 0;">
        {{aroma_base}}
      </td>
      <td style="text-align: center; width: 6%; border: 0;">
        <a href="{% url 'fishing:add_aroma_to_mix' lure_mix.id aroma_base.id %}" class="btn btn-secondary" role="button">Выбрать</a>
      </td>
    </tr>
    {% endfor %}
  </table>
{% else %}
{% if aroma_base_entery %}
<tr>Все аромы использованны в данной смеси</tr>
{% else %}
<tr>Аромы ещё не добавлены</tr>
{% endif %}
{% endif %}
<p  style="text-align: center;">
  <a href="{% url 'fishing:lure_mix_details' lure_mix.id %}" class="btn btn-secondary" role="button">Назад</a>
</p>


{% endblock %}