{% extends 'fishing/base.html' %}
{% block content %}
<style>
  p {
    text-align: center;
    font-size: 140%;
    font-style: oblique;
  }
</style>
{% if aroma_base %}
<p>Редактирование аромы</p>
{% else %}
<p>Добавление аромы</p>
{% endif %}
<br />
<p class="text-danger" style="font-size: 120%;">{{ errors }}</p>

{% for error in form.non_field_errors %}
<p class="text-danger" style="font-size: 120%;">{{ error }}</p>
{% endfor %}

<form action="" method="post" style="text-align: center; margin: auto;">
  {% csrf_token %}
  <table style="text-align: left; margin: auto;">
    <tr>
      <td>{{ form.manufacturer.label_tag }}</td>
      <td>{{ form.manufacturer }}</td>
    </tr>
    {% if form.manufacturer.errors %}
      <tr>
        <td></td>
        <td class="text-danger" style="font-size: 80%;">
          {% for error in form.manufacturer.errors %}
            {{ error }}
          {% endfor %}
        </td>
      </tr>
    {% endif %}
    <tr>
      <td>{{ form.name.label_tag }}</td>
      <td>{{ form.name }}</td>
    </tr>
    {% if form.name.errors %}
      <tr>
        <td></td>
        <td class="text-danger" style="font-size: 80%;">
          {% for error in form.name.errors %}
            {{ error }}
          {% endfor %}
        </td>
      </tr>
    {% endif %}
  </table>
  <br />
  <button class="btn btn-secondary" role="button">Сохранить</button>
  <a href="{% url 'fishing:aroma_base' %}" class="btn btn-secondary" role="button">Назад</a>
</form>
{% endblock %}
