{% extends 'fishing/base.html' %}
{% load static %}
{% load verbose_names %}
{% load len_element %}
{% load element_by_key %}
{% block content %}

<table>
  <tr>
    <td colspan="2">
      <strong>Дата рыбалки:</strong> {{ details.date_time.date }}
      {% if details.planned %}
        (запланировано)
      {% endif %}
    </td>
  </tr>
  <tr>
    <td>
      <strong>Время начала:</strong> {{ details.date_time.time_start }}
    </td>
    <td>
      <strong>Время окончания:</strong> {{ details.date_time.time_end }}
    </td>
  </tr>
</table>

<table>
  <tr>
    <td colspan="6">
      <strong>Место проведения рыбалки:</strong>
      {% if details.place %}
      <a href="{% url 'fishing:fishing_place_select' details.id %}"><img class="button__img" src="{% static 'images/edit.png' %}" alt="Edit"></a>
      <a href="{% url 'fishing:fishing_place_delete' details.id %}"><img class="button__img" src="{% static 'images/delete.png' %}" alt="Delete"></a>
      {% else %}
      <a href="{% url 'fishing:fishing_place_select' details.id %}"><img class="button__img" src="{% static 'images/add.png' %}" alt=""></a>
      {% endif %}
    </td>
  </tr>

  {% if details.place %}
  <tr>
    <td>
      <strong>Водоём: </strong>{{ details.place.water }}</td>
    {% if details.place.locality %}
    <td>
      <strong>Ближайший населённый пункт: </strong>{{ details.place.locality }}
    </td>
    {% endif %}
    {% if details.place.name %}
    <td>
      <strong>Место: </strong>{{ details.place.name }}
    </td>
    {% endif %}
  </tr>
  {% endif %}
</table>

<table>
  <tr>
    <td colspan="3">
      <strong>Погода во время рыбалки:</strong>
      {% if details.weather %}
        <a href="{% url 'fishing:fishing_weather_add' details.id %}"><img class="button__img" src="{% static 'images/edit.png' %}" alt="Edit"></a>
        <a href="{% url 'fishing:fishing_weather_delete' details.id %}"><img class="button__img" src="{% static 'images/delete.png' %}" alt="Delete"></a>
      {% else %}
        <a href="{% url 'fishing:fishing_weather_add' details.id %}"><img class="button__img" src="{% static 'images/add.png' %}" alt=""></a>
      {% endif %}
    </td>
  </tr>

  {% if details.weather %}
  <tr>
    {% if details.weather.overcast %}
      <td>
        <strong>Облачность: </strong>
        {{ details.weather.overcast }}
      </td>
    {% endif %}
    {% if details.weather.temperature %}
      <td>
        <strong>Температура воздуха: </strong>
        {{ details.weather.temperature }}
        &deg
      </td>
    {% endif %}
    {% if details.weather.conditions %}
      <td>
        <strong>Погодные явления: </strong>
        {{ details.weather.conditions }}
      </td>
    {% endif %}
  </tr>
  <tr>
    {% if details.weather.pressure %}
      <td>
        <strong>Давление: </strong>
        {{ details.weather.pressure }}
        мм.рт.ст.
      </td>
    {% endif %}
    {% if details.weather.direction_wind %}
      <td>
        <strong>Направление ветра: </strong>
        {{ details.weather.direction_wind }}
      </td>
    {% endif %}
    {% if details.weather.wind_speed %}
      <td>
        <strong>Скорость ветра: </strong>
        {{ details.weather.wind_speed }}
        м/с
      </td>
    {% endif %}
  </tr>
  {% endif %}
</table>

<table>
  <thead>
    <tr>
      <th>Снасти:</th>
      <th>Монтажи:</th>
      <th>Кормушки:</th>
      <th>Поводки:</th>
      <th>Крючки:</th>
      <th>Наживки:</th>
      <th>Темп:</th>
    </tr>
  </thead>
  {% for tackle in details.tackles %}
    <tr>
      <td>
        {% if tackle.tackle.manufacturer %}
          <p><strong>Производитель: </strong>
          {{ tackle.tackle.manufacturer }}</p>
        {% endif %}
        {% if tackle.tackle.model_tackle %}
          <p><strong>Модель: </strong>
          {{ tackle.tackle.model_tackle }}</p>
        {% endif %}
        {% if tackle.tackle.length %}
          <p><strong>Длина: </strong>
          {{ tackle.tackle.length }}</p>
        {% endif %}
        {% if tackle.tackle.casting_weight %}
          <p><strong>Тест: </strong>
            {{ tackle.tackle.casting_weight }}</p>
        {% endif %}
      </td>
      <td>
        {{ tackle.montage.name }}
      </td>
      <td>
        {% if tackle.trough.manufacturer %}
          <p><strong>Производитель :</strong>
          {{ tackle.trough.manufacturer }}</p>
        {% endif %}
        {% if tackle.trough.model_name %}
          <p><strong>Модель :</strong>
          {{ tackle.trough.model_name }}</p>
        {% endif %}
        {% if tackle.trough.plastic %}
          <p><strong>Материал: </strong>Пластик</p>
        {% endif %}
        {% if tackle.trough.lugs %}
          <p><strong>Грунтозацепы: </strong>да</p>
        {% endif %}
        {% if tackle.trough.feed_capacity %}
          <p><strong>Кормоёмкость: </strong>
          {{ tackle.trough.feed_capacity }}</p>
        {% endif %}
        {% if tackle.trough.weight %}
          <p><strong>Вес: </strong>
          {{ tackle.trough.weight }}</p>
        {% endif %}
      </td>
      <td>
        {% if tackle.leash %}
          {% if tackle.leash.material %}
            <p><strong>Материал: </strong>
            {{ tackle.leash.material }}</p>
          {% endif %}
          {% if tackle.leash.diameter %}
            <p><strong>Диаметр: </strong>
              {{ tackle.leash.diameter }}
            </p>
          {% endif %}
          {% if tackle.leash.length %}
            <p><strong>Длина: </strong>
            {{ tackle.leash.length }}</p>
          {% endif %}
        {% endif %}
      </td>
      <td>
        {% if tackle.crochet %}
          {% if tackle.crochet.manufacturer %}
            <p><strong>Производитель: </strong>
            {{ tackle.crochet.manufacturer }}</p>
          {% endif %}
          {% if tackle.crochet.model %}
            <p><strong>Модель: </strong>
            {{ tackle.crochet.model }}</p>
          {% endif %}
          {% if tackle.crochet.size %}
            <p><strong>Размер: </strong>
            {{ tackle.crochet.size }}</p>
          {% endif %}
        {% endif %}
      </td>
      <td>
        {% if tackle.nozzles %}
          {% for nozzle in tackle.nozzles %}
            <p>
              {% if nozzle.bait %}
                {% if nozzle.name %}
                  <p>{{ nozzle.name }}</p>
                {% endif %}
                {% if nozzle.manufacturer %}
                  <p><strong>Производитель: </strong>
                  {{ nozzle.manufacturer }}</p>
                {% endif %}
              {% else %}
                {% if nozzle.manufacturer %}
                  <p><strong>Производитель: </strong>
                  {{ nozzle.manufacturer }}</p>
                {% endif %}
                {% if nozzle.name %}
                  <p><strong>Название: </strong>
                  {{ nozzle.name }}</p>
                {% endif %}
                {% if nozzle.size %}
                  <p><strong>Диаметр насадки: </strong>
                  {{ nozzle.size }}</p>
                {% endif %}
                {% if nozzle.ntype %}
                  <p><strong>Тип насадки: </strong>
                  {{ nozzle.ntype }}</p>
                {% endif %}
              {% endif %}
              {{ nozzle.number }}
              {{ nozzle.state }}
              <a href="{% url 'fishing:fishing_nozzle_select' details.id tackle.tackle.id nozzle.position %}">
                <img class="button__img" src="{% static 'images/edit.png' %}" alt="Edit">
              </a>
              <a href="{% url 'fishing:fishing_nozzle_delete' details.id tackle.tackle.id nozzle.position %}">
                <img class="button__img" src="{% static 'images/delete.png' %}" alt="Delete">
              </a>
            </p>
          {% endfor %}
        {% endif %}
      </td>
      <td>
        {% if tackle.pace %}
        <p>{{ tackle.pace.pace }}</p>
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>
        <a href="{% url 'fishing:fishing_tackle_select' details.id tackle.tackle.id %}"><img class="button__img" src="{% static 'images/edit.png' %}" alt="Edit"></a>
        <a href="{% url 'fishing:fishing_tackle_delete' details.id tackle.tackle.id %}"><img class="button__img" src="{% static 'images/delete.png' %}" alt="Delete"></a>
      </td>
      <td>
        {% if tackle.montage %}
          <a href="{% url 'fishing:fishing_montage_select' details.id tackle.tackle.id %}"><img class="button__img" src="{% static 'images/edit.png' %}" alt="Edit">
          </a>
          <a href="{% url 'fishing:fishing_montage_delete' details.id tackle.tackle.id %}"><img class="button__img" src="{% static 'images/delete.png' %}" alt="Delete"></a>
        {% else %}
          <a href="{% url 'fishing:fishing_montage_select' details.id tackle.tackle.id %}"><img class="button__img" src="{% static 'images/add.png' %}" alt=""></a>
        {% endif %}
      </td>
      <td>
        {% if tackle.trough %}
          <a href="{% url 'fishing:fishing_trough_select' details.id tackle.tackle.id %}">
            <img class="button__img" src="{% static 'images/edit.png' %}" alt="Edit">
          </a>
          <a href="{% url 'fishing:fishing_trough_delete' details.id tackle.tackle.id %}">
            <img class="button__img" src="{% static 'images/delete.png' %}" alt="Delete">
          </a>
        {% else %}
          <a href="{% url 'fishing:fishing_trough_select' details.id tackle.tackle.id %}">
            <img class="button__img" src="{% static 'images/add.png' %}" alt="">
          </a>
        {% endif %}
      </td>
      <td>
        {% if tackle.leash %}
          <a href="{% url 'fishing:fishing_leash_select' details.id tackle.tackle.id %}">
            <img class="button__img" src="{% static 'images/edit.png' %}" alt="Edit">
          </a>
          <a href="{% url 'fishing:fishing_leash_delete' details.id tackle.tackle.id %}">
            <img class="button__img" src="{% static 'images/delete.png' %}" alt="Delete">
          </a>
        {% else %}
          <a href="{% url 'fishing:fishing_leash_select' details.id tackle.tackle.id %}">
            <img class="button__img" src="{% static 'images/add.png' %}" alt="">
          </a>
        {% endif %}
      </td>
      <td>
        {% if tackle.crochet %}
          <a href="{% url 'fishing:fishing_crochet_select' details.id tackle.tackle.id %}">
            <img class="button__img" src="{% static 'images/edit.png' %}" alt="Edit">
          </a>
          <a href="{% url 'fishing:fishing_crochet_delete' details.id tackle.tackle.id %}">
            <img class="button__img" src="{% static 'images/delete.png' %}" alt="Delete">
          </a>
        {% else %}
          <a href="{% url 'fishing:fishing_crochet_select' details.id tackle.tackle.id %}">
            <img class="button__img" src="{% static 'images/add.png' %}" alt="">
          </a>
        {% endif %}
      </td>
      <td>
        <a href="{% url 'fishing:fishing_nozzle_select' details.id tackle.tackle.id 0 %}"><img class="button__img" src="{% static 'images/add.png' %}" alt=""></a>
      </td>
      <td>
        {% if tackle.pace %}
          <a href="{% url 'fishing:fishing_pace_select' details.id tackle.tackle.id %}">
            <img class="button__img" src="{% static 'images/edit.png' %}" alt="Edit">
          </a>
          <a href="{% url 'fishing:fishing_pace_delete' details.id tackle.tackle.id %}">
            <img class="button__img" src="{% static 'images/delete.png' %}" alt="Delete">
          </a>
        {% else %}
          <a href="{% url 'fishing:fishing_pace_select' details.id tackle.tackle.id %}">
            <img class="button__img" src="{% static 'images/add.png' %}" alt="">
          </a>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  <tr>
    <td>
      <a href="{% url 'fishing:fishing_tackle_select' details.id 0 %}"><img class="button__img" src="{% static 'images/add.png' %}" alt=""></a>
    </td>
  </tr>
</table>

<table>
  <tr>
    <td>
      
      {% if details.lure_mix  %}
        <strong>Прикормочная смесь: </strong>
        {{ details.lure_mix.name }}
        <a href="{% url 'fishing:fishing_lure_mix_select' details.id %}">
          <img class="button__img" src="{% static 'images/edit.png' %}" alt="Edit">
        </a>
        <a href="{% url 'fishing:fishing_lure_mix_delete' details.id %}">
          <img class="button__img" src="{% static 'images/delete.png' %}" alt="Delete">
        </a>
      {% else %}
        {% if details.lure %}
          <strong>Прикорм:</strong>
          <a href="{% url 'fishing:fishing_lure_select' details.id %}">
            <img class="button__img" src="{% static 'images/edit.png' %}" alt="Edit">
          </a>
          <a href="{% url 'fishing:fishing_lure_delete' details.id %}">
            <img class="button__img" src="{% static 'images/delete.png' %}" alt="Delete">
          </a>
        {% else %}
          <a href="{% url 'fishing:fishing_lure_mix_select' details.id %}">
            <img class="button__img" src="{% static 'images/add.png' %}" alt="">Указать смесь
          </a>
          <a href="{% url 'fishing:fishing_lure_select' details.id %}">
            <img class="button__img" src="{% static 'images/add.png' %}" alt="">Указать прикорм
          </a>
        {% endif %}
      {% endif %}
    </td>
  </tr>
  {% if details.lure_mix or details.lure %}
  {% if details.lure_mix %}
      {% if details.lure_mix.lures %}
        <tr>
          <td>
            <strong>Прикормы:</strong>
          </td>
        </tr>
        <tr>
          <table>
            <tr>
              {% for lure in details.lure_mix.lures %}
              <td>
                {% if lure.lure.manufacturer %}
                  <p><strong>Производитель: </strong>
                  {{ lure.lure.manufacturer }}</p>
                {% endif %}
                {% if lure.lure.name %}
                  <p><strong>Название: </strong>
                  {{ lure.lure.name }}</p>
                {% endif %}
                {% if lure.weight %}
                  <p><strong>Доля прикорма: </strong>{{ lure.weight }}</p>
                {% endif %}
              </td>
              {% endfor %}
            </tr>
          </table>
        </tr>
      {% endif %}
      {% if details.lure_mix.aromas %}
        <tr>
          <td>
            <strong>Аромы:</strong>
          </td>
        </tr>
        <tr>
          <table>
            <tr>
              {% for aroma in details.lure_mix.aromas %}
                <td>
                  {% if aroma.aroma.manufacturer %}
                    <p><strong>Производитель: </strong>
                    {{ aroma.aroma.manufacturer }}</p>
                  {% endif %}
                  {% if aroma.aroma.name %}
                    <p><strong>Название: </strong>
                    {{ aroma.aroma.name }}</p>
                  {% endif %}
                  {% if aroma.volume %}
                    <p><strong>Объем аромы: </strong>
                    {{ aroma.volume }} л.</p>
                  {% endif %}
                </td>
              {% endfor %}
            </tr>
          </table>
        </tr>
      {% endif %}
      {% if details.lure_mix.filling %}
      <tr>
        <td>
          <p><strong>Добавки в состав:</strong></p>
        </td>
      </tr>
      <tr>
        <table>
          <tr>
            {% for filling in details.lure_mix.filling %}
              <td>
                {% if filling.manufacturer %}
                  <p><strong>Производитель: </strong>
                  {{ filling.manufacturer }}</p>
                {% endif %}
                {% if filling.name %}
                  <p><strong>Название: </strong>
                  {{ filling.name }}</p>
                {% endif %}
                {% if filling.state %}
                  <p><strong>Состояние: </strong>
                  {{ filling.state }}</p>
                {% endif %}
              </td>
            {% endfor %}
          </tr>
        </table>
      </tr>
      {% endif %}
    {% else %}
      <tr>
        <td>
          <p><strong>Прикорм</strong></p>
          {% if details.lure.lure.manufacturer %}
            <p><strong>Производитель: </strong>
            {{ details.lure.lure.manufacturer }}</p>
          {% endif %}
          {% if details.lure.lure.name %}
            <p><strong>Название: </strong>
            {{ details.lure.lure.name }}</p>
          {% endif %}
          {% if details.lure.weight %}
            <p><strong>Доля прикорма: </strong>
            {{ details.lure.weight }}</p>
          {% endif %}
        </td>
      </tr>
    {% endif %}
  {% endif %}
</table>

<p><strong>Улов:</strong><a href="{% url 'fishing:fishing_result_add' details.id %}"><img class="button__img" src="{% static 'images/add.png' %}" alt="Add"></a></p>
{% for result in details.results %}
<p>
    {{ forloop.counter }}. 
    {% if result.target %}
      <img class="content__img" src="{% static 'images/target.png' %}" alt="Целевая" title="Целевая рыба">
    {% endif %}
    {{ result.fish }}
    {% if result.number_of_fish or result.fish_weight %}
    :
    {% if result.number_of_fish %}
      {{ result.number_of_fish }}
    {% endif %}
    {% if result.fish_weight %}
      общим весом:
      {{ result.fish_weight }}
    {% endif %}
    {% endif %}
    {% if result.average_weight %}
      <strong>Средний вес: </strong> {{ result.average_weight }}
    {% endif %}
    <a href="{% url 'fishing:fishing_result_edit' details.id result.id %}">
      <img class="button__img" src="{% static 'images/edit.png' %}" alt="Edit">
    </a>
    <a href="{% url 'fishing:fishing_result_delete' details.id result.id %}">
      <img class="button__img" src="{% static 'images/delete.png' %}" alt="Delete">
    </a>
</p>
{% endfor %}

{% if details.average_weight %}
  <p>
    <strong>Средний вес рыбы в улове: </strong> {{details.average_weight}}
  </p>
{% endif %}


<p><strong>Трофеи:</strong><a href="{% url 'fishing:fish_trophy_add' details.id %}"><img class="button__img" src="{% static 'images/add.png' %}" alt="Add"></a></p>
{% for trophy in details.trophys %}
  <p>
    {{ forloop.counter }}.
    {% if trophy.target %}
      <img class="content__img" src="{% static 'images/target.png' %}" alt="Целевая" title="Целевая рыба">
    {% endif %}
    {{trophy.fish}}: вес трофея
    {{trophy.weight}} кг.
    <a href="{% url 'fishing:fish_trophy_edit' details.id trophy.id %}">
      <img class="button__img" src="{% static 'images/edit.png' %}" alt="Edit">
    </a>
    <a href="{% url 'fishing:fish_trophy_delete' details.id trophy.id %}">
      <img class="button__img" src="{% static 'images/delete.png' %}" alt="Delete">
    </a>
  </p>
{% endfor %}

<div class="content__item-text">
  <p>
    <strong>Заметки о рыбалке</strong>
    <a href="{% url 'fishing:fishing_note' details.id %}"><img class="button__img" src="{% static 'images/edit.png' %}" alt="Edit"></a>
  </p>
  {% if details.note %}
    <p>
      {{ details.note}}
    </p>
  {% endif %}
</div>

<div class="content__item-text">
  <p>Отчет: 
    {% if details.report %}
      <input type="url" hidden id="id_text_to_copy_{{details.id}}" value="{{ details.report.url }}">
      <button class="button__img" onclick="copyToClipboard('id_text_to_copy_{{details.id}}')">
        <img class="button__img" src="{% static 'images/copy.png' %}" alt="Copy">
      </button>
      <a href="{% url 'fishing:fishing_report_settings' details.id %}">
        <img class="button__img" src="{% static 'images/edit.png' %}" alt="Edit">
      </a>
      <a href="{% url 'fishing:fishing_report_settings_delete' details.id %}">
        <img class="button__img" src="{% static 'images/delete.png' %}" alt="Delete">
      </a>
    {% else %}
      <a href="{% url 'fishing:fishing_report_settings' details.id %}">
        <img class="button__img" src="{% static 'images/add.png' %}" alt="Add">
      </a>
    {% endif %}
  </p>

</div>

<div class="content__item content__item--btn-position">
  <a class="button__std" href="{% url 'fishing:fishing' %}">Назад</a>
</div>
{% endblock %}
