{% extends 'fishing/base.html' %}
{% block content %}

<div class="content__item">
  <div class="errors">
    <div class="errors__inner">
      {% for error in form.name.errors %}
        <div class="errors__item">
          <p>{{ error }}</p>
        </div>
      {% endfor %}
    </div>
  </div>

  <form class="content__form" action="" method="post">
    {% csrf_token %}
    <table>
      <tr>
        <td>
          {{ form.note.label_tag }}
        </td>
        <td>
          <label class="textareaContainer">
            <textarea class="content__input-description" autofocus type="text" name="note" cols="40" rows="10" id="id_note">{{ form.note.value|default_if_none:"" }}</textarea>
          </label>
        </td>
      </tr>
    </table>
    <div class="content__item content__item--btn-position">
      <button class="button__std">Сохранить</button>
      <a class="button__std" href="{% url 'fishing:fishing_details' fishing.id %}">Назад</a>
    </div>
  </form>
</div>
{% endblock %}
