{% extends 'fishing/base.html' %}
{% block content %}
{% load static %}

{% if trough_list %}
<table>
  {% for trough in trough_list %}
  <tr>
    <td>
      {{trough}}
    </td>
    <td>
      <a href="{% url 'fishing:fishing_trough_add' fishing.id fishing_tackle.id trough.id fishing_trough.id %}">
        <img class="button__img" src="{% static 'images/check.png' %}" alt="Выбрать">
      </a>
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>Кормушек еще не добавлено</p>
{% endif %}
<div class="content__item content__item--center">
  <a class="button__std" href="{% url 'fishing:fishing_details' fishing.id %}">Назад</a>
</div>

{% endblock %}