{% extends 'fishing/base.html' %}
{% block content %}
{% load static %}

{% if pace_list %}
<table>
  {% for pace in pace_list %}
  <tr >
    <td>
      {{pace}}
    </td>
    <td>
      <a href="{% url 'fishing:fishing_pace_add' fishing.id fishing_tackle.id pace.id fishing_pace.id %}">
        <img class="button__img" src="{% static 'images/check.png' %}" alt="">
      </a>
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>Варианты темпа еще не добавлены</p>
{% endif %}
<div class="content__item content__item--center">
  <a class="button__std" href="{% url 'fishing:fishing_details' fishing.id %}">Назад</a>
</div>

{% endblock %}