{% extends 'fishing/base.html' %}
{% block content %}
{% load static %}

{% if lure_mix_list %}
<table>
  {% for lure_mix in lure_mix_list %}
  <tr>
    <td>
      {{lure_mix}}
    </td>
    <td>
      <a href="{% url 'fishing:fishing_lure_mix_add' fishing.id lure_mix.id fishing_lure_mix.id %}">
        <img class="button__img" src="{% static 'images/check.png' %}" alt="Выбрать">
      </a>
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>Прикормочные смеси еще не добавлены</p>
{% endif %}
<div class="content__item content__item--center">
  <a class="button__std" href="{% url 'fishing:fishing_details' fishing.id %}">Назад</a>
</div>

{% endblock %}