{% extends 'fishing/base.html' %}
{% block content %}
{% load static %}

{% if nozzle_list %}
<table>
  {% for nozzle in nozzle_list %}
  <tr>
    <td>
      {{nozzle}}
    </td>
    <td>
      <a href="{% url 'fishing:fishing_nozzle_add' fishing.id fishing_tackle.id nozzle.id fishing_nozzle.id %}">
        <img class="button__img" src="{% static 'images/check.png' %}" alt="Выбрать">
      </a>
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>Насадки и наживки еще не добавлены</p>
{% endif %}
<div class="content__item content__item--center">
  <a class="button__std" href="{% url 'fishing:fishing_details' fishing.id %}">Назад</a>
</div>

{% endblock %}