{% extends 'fishing/base.html' %}
{% load static %}
{% block content %}

{% if montage_list != None %}
<!-- Монтажи -->
{% if montage_list %}
<div class="content__item">
  <table>
    {% for montage in montage_list %}
    <tr>
      <td>
      {{montage}}
      </td>
      <td>
        {% if montage.owner == user %}
        <a href="{% url 'fishing:montage_edit' montage.id %}">
          <img class="button__img" src="{% static 'images/edit.png' %}" alt="Edit">
        </a>
        <a href="{% url 'fishing:montage_delete' montage.id %}">
          <img class="button__img" src="{% static 'images/delete.png' %}" alt="Delete">
        </a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <div class="content__item-text">
    <p>Монтажи еще не добавлены</p>
  </div>
  {% endif %}
  
  <div class="content__item content__item--center">
    <a class="button__std" href="{% url 'fishing:montage_add' %}">
      <img class="button__img" src="{% static 'images/add.png' %}" alt="">
      Добавить
    </a>
    <a class="button__std" href="{% url 'fishing:fisherman_gear' %}">
      Назад
    </a>
  </div>
</div>
{% endif %}

{% endblock %}
