{% extends 'fishing/base.html' %}
{% block content %}
<style>
  p {
    text-align: center;
    font-size: 140%;
    font-style: oblique;
  }
</style>
{% if leash %}
<p>Редактирование поводка</p>
{% else %}
<p>Добавление поводка</p>
{% endif %}
<br />
<p class="text-danger" style="font-size: 120%;">{{ errors }}</p>

{% for error in form.material.errors %}
  <p class="text-danger" style="font-size: 120%;">{{ error }}</p>
{% endfor %}

<form action="" method="post" style="text-align: center; margin: auto;">
  {% csrf_token %}
  <table style="text-align: left; margin: auto;">
    <tr>
      <td>{{ form.material.label_tag }}</td>
      <td>{{ form.material }}</td>
    </tr>
    <tr>
      <td colspan="2" class="text-danger">{{ form.diameter.errors }}</td>
    </tr>
    <tr>
      <td>{{ form.diameter.label_tag }}</td>
      <td>{{ form.diameter }} мм.</td>
    </tr>
    <tr>
      <td colspan="2" class="text-danger">{{ form.length.errors }}</td>
    </tr>
    <tr>
      <td>{{ form.length.label_tag }}</td>
      <td>{{ form.length }} см.</td>
    </tr>
  </table>
  <br />
  <button class="btn btn-secondary" role="button">Сохранить</button>
  <a href="{% url 'fishing:leash' %}" class="btn btn-secondary" role="button">Назад</a>
</form>
{% endblock %}
