{% extends 'fishing/base.html' %}
{% block content %}
<style>
  p {
    text-align: center;
    font-size: 140%;
    font-style: oblique;
  }
</style>
{% if leash %}
<p>Редактирование поводка</p>
{% else %}
<p>Добавление поводка</p>
{% endif %}
<br />
<p class="text-danger" style="font-size: 120%;">{{ errors }}</p>

<form action="" method="post" style="text-align: center; margin: auto;">
  {% csrf_token %}
  <table style="text-align: left; margin: auto;">
    <tr>
      <td>{{ form.material.label_tag }}</td>
      <td>{{ form.material }}</td>
    </tr>
    {% if form.material.errors %}
    <tr>
      <td></td>
      <td class="text-danger" style="font-size: 80%;">
        {% for error in form.material.errors %}
          {{ error }}
        {% endfor %}
      </td>
    </tr>
    {% endif %}
    <tr>
      <td>{{ form.diameter.label_tag }}</td>
      <td>{{ form.diameter }} мм.</td>
    </tr>
    {% if form.diameter.errors %}
    <tr>
      <td></td>
      <td class="text-danger" style="font-size: 80%;">
        {% for error in form.diameter.errors %}
          {{ error }}
        {% endfor %}
      </td>
    </tr>
    {% endif %}
    <tr>
      <td>{{ form.length.label_tag }}</td>
      <td>{{ form.length }} см.</td>
    </tr>
    {% if form.length.errors %}
    <tr>
      <td></td>
      <td class="text-danger" style="font-size: 80%;">
        {% for error in form.length.errors %}
          {{ error }}
        {% endfor %}
      </td>
    </tr>
    {% endif %}
  </table>
  <br />
  <button class="btn btn-secondary" role="button">Сохранить</button>
  <a href="{% url 'fishing:leash' %}" class="btn btn-secondary" role="button">Назад</a>
</form>
{% endblock %}
