{% extends 'fishing/base.html' %}
{% block content %}

{% if crochet_list != None %}
<!-- Поводки -->
{% if crochet_list %}
<table class="table table-hover" style="margin: auto;">
  {% for crochet in crochet_list %}
  <tr >
    <td style="text-align: center; border: 0;">
    {{crochet}}
    </td>
    {% if crochet.owner == user %}
    <td style="text-align: center; width: 10%; border: 0;">
    <a href="{% url 'fishing:crochet_edit' crochet.id %}" class="btn btn-secondary" role="button">Редактировать</a>
    </td>
    <td style="text-align: center; width: 6%; border: 0;">
    <a href="{% url 'fishing:crochet_delete' crochet.id %}" class="btn btn-secondary" role="button">Удалить</a>
    </td>
    {% endif %}
  </tr>
  {% endfor %}
</table>
{% else %}
<p style="margin: auto;">Крючки ещё не добавлены</p>
{% endif %}
<br/>
<p style="text-align: center;">
  <a href="{% url 'fishing:crochet_add' %}" class="btn btn-secondary" role="button">Добавить</a>
  <a href="{% url 'fishing:crochet' %}" class="btn btn-secondary" role="button">Назад</a>
</p>
{% endif %}

{% endblock %}
