{% extends 'fishing/base.html' %}
{% block content %}
<style>
  p {
    text-align: center;
    font-size: 140%;
    font-style: oblique;
  }
</style>
{% if trough %}
<p>Редактирование кормушки</p>
{% else %}
<p>Добавление кормушки</p>
{% endif %}
<br />
<p class="text-danger" style="font-size: 120%;">{{ errors }}</p>

<form action="" method="post" style="text-align: center; margin: auto;">
  {% csrf_token %}
  <table style="text-align: left; margin: auto;">
    <tr>
      <td colspan="2">{{ form.manufacturer.label_tag }}</td>
      <td colspan="2">{{ form.manufacturer }}</td>
    </tr>
    {% if form.manufacturer.errors %}
    <tr>
      <td colspan="2"></td>
      <td class="text-danger" style="font-size: 80%;" colspan="2">
        {% for error in form.manufacturer.errors %}
          {{ error }}
        {% endfor %}
      </td>
    </tr>
    {% endif %}
    <tr>
      <td colspan="2">{{ form.model_name.label_tag }}</td>
      <td colspan="2">{{ form.model_name }}</td>
    </tr>
    {% if form.model_name.errors %}
    <tr>
      <td colspan="2"></td>
      <td class="text-danger" style="font-size: 80%;" colspan="2">
        {% for error in form.model_name.errors %}
          {{ error }}
        {% endfor %}
      </td>
    </tr>
    {% endif %}
    <tr>
          <td>{{ form.plastic.label_tag }}</td>
          <td>{{ form.plastic }}</td>
          <td>{{ form.lugs.label_tag }}</td>
          <td>{{ form.lugs }}</td>
    </tr>
    <tr>
      <td colspan="2">{{ form.feed_capacity.label_tag }}</td>
      <td colspan="2">{{ form.feed_capacity }}</td>
    </tr>
    <tr>
      <td colspan="2">{{ form.weight.label_tag }}</td>
      <td colspan="2">{{ form.weight }} гр.</td>
    </tr>
  </table>
  <br />
  <button class="btn btn-secondary" role="button">Сохранить</button>
  <a href="{% url 'fishing:trough' %}" class="btn btn-secondary" role="button">Назад</a>
</form>
{% endblock %}
