{% extends 'fishing/base.html' %}
{% load static %}
{% block content %}

<div class="content__item">
  {% if places_list %}
  <table>
    {% for place in places_list %}
    <tr>
      <td>
        {{place}}
      </td>
      <td>
        {% if place.owner == user %}
          <a href="{% url 'fishing:place_coordinates_add' water.id place.id %}">
            Координаты
          </a>
          <a href="{% url 'fishing:place_edit' water.id place.id %}">
            <img class="button__img" src="{% static 'images/edit.png' %}" alt="Edit">
          </a>
          <a href="{% url 'fishing:place_delete' water.id place.id %}">
            <img class="button__img" src="{% static 'images/delete.png' %}" alt="Delete">
          </a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <div class="content__item-text content__item-text--center">
    <p>Ни одного места ещё не добавлено</p>
  </div>
  {% endif %}
  <div class="content__item content__item--btn-position">
    <a class="button__std" href="{% url 'fishing:place_add' water.id %}">
      <img class="button__img" src="{% static 'images/add.png' %}" alt="">
      Добавить
    </a>
    <a class="button__std" href="{% url 'fishing:water' %}">
      Назад
    </a>
  </div>
</div>
{% endblock %}
