{% extends 'fishing/base.html' %}
{% if conditions %}
<p>Редактирование варианта погодного явления</p>
{% else %}
<p>Добавление варианта погодного явления</p>
{% endif %}
{% block content %}
<form action="" method="post" style="text-align: center; width: 70%; margin: auto;">
  {% csrf_token %}
  <table style="text-align: center; margin: auto;">
    <tr>
      <td colspan="2" class="text-danger">{{ form.conditions_name.errors }}</td>
    </tr>
    <tr>
      <td>{{ form.conditions_name.label_tag }}</td>
      <td>{{ form.conditions_name }}</td>
    </tr>
  </table>
  <br />
  <button class="btn btn-secondary" role="button">Сохранить</button>
  <a href="{% url 'fishing:conditions' %}" class="btn btn-secondary" role="button">Назад</a>
</form>
{% endblock %}
