{% extends 'fishing/base.html' %}
{% block content %}
<style>
  p {
    text-align: center;
    font-size: 140%;
    font-style: oblique;
  }
</style>
{% if montage %}
<p>Редактирование снасти</p>
{% else %}
<p>Добавление снасти</p>
{% endif %}

<p class="text-danger" style="font-size: 100%;">{{ errors }}</p>
{% for error in form.non_field_errors %}
  <p class="text-danger" style="font-size: 100%;">{{ error }}</p>
{% endfor %}

<form action="" method="post" style="text-align: center; margin: auto;">
  {% csrf_token %}
  <table style="text-align: center; margin: auto;">
    <tr>
      <td>{{ form.manufacturer.label_tag }}</td>
      <td>{{ form.manufacturer }}</td>
    </tr>
    {% if form.manufacturer.errors %}
      <tr>
        <td></td>
        <td class="text-danger" style="font-size: 80%;">
          {% for error in form.manufacturer.errors %}
            {{ error }}
          {% endfor %}
        </td>
      </tr>
    {% endif %}
    <tr>
      <td>{{ form.model_tackle.label_tag }}</td>
      <td>{{ form.model_tackle }}</td>
    </tr>
    {% if form.model_tackle.errors %}
      <tr>
        <td></td>
        <td class="text-danger" style="font-size: 80%;">
          {% for error in form.model_tackle.errors %}
            {{ error }}
          {% endfor %}
        </td>
      </tr>
    {% endif %}
    <tr>
      <td>{{ form.length.label_tag }}</td>
      <td>{{ form.length }} м.</td>
    </tr>
    {% if form.length.errors %}
      <tr>
        <td></td>
        <td class="text-danger" style="font-size: 80%;">
          {% for error in form.length.errors %}
            {{ error }}
          {% endfor %}
        </td>
      </tr>
    {% endif %}
    <tr>
      <td>{{ form.casting_weight.label_tag }}</td>
      <td>{{ form.casting_weight }} гр.</td>
    </tr>
    {% if form.casting_weight.errors %}
      <tr>
        <td></td>
        <td class="text-danger" style="font-size: 80%;">
          {% for error in form.casting_weight.errors %}
            {{ error }}
          {% endfor %}
        </td>
      </tr>
    {% endif %}
  </table>
  <br />
  <button class="btn btn-secondary" role="button">Сохранить</button>
  <a href="{% url 'fishing:tackle' %}" class="btn btn-secondary" role="button">Назад</a>
</form>
{% endblock %}
