{% extends 'fishing/base.html' %}
{% load static %}
{% block content %}

<div class="content__item">
  {% if water_category_list %}
    <table>
      {% for water_category in water_category_list %}
      <tr>
        <td>
          {{water_category}}
        </td>
        <td>
          <a href="{% url 'fishing:water_category_edit' water_category.id %}">
            <img class="button__img" src="{% static 'images/edit.png' %}" alt="Edit">
          </a>
          <a href="{% url 'fishing:water_category_delete' water_category.id %}">
            <img class="button__img" src="{% static 'images/delete.png' %}" alt="Delete">
          </a>
        </td>
      </tr>
      {% endfor %}
    </table>
  {% else %}
    <div class="content__item-text content__item-text--center">
      <p>Ни одной категории водоёмов ещё не добавлено</p>
    </div>
  {% endif %}
  <div class="content__item content__item--btn-position">
    <a class="button__std" href="{% url 'fishing:water_category_add' %}">
      <img class="button__img" src="{% static 'images/add.png' %}" alt="">
      Добавить
    </a>
    <a class="button__std" href="{% url 'fishing:settings' %}">
      Назад
    </a>
  </div>
</div>

{% endblock %}
