{% extends 'fishing/base.html' %}
{% block content %}
<style>
  p {
    text-align: center;
    font-size: 140%;
    font-style: oblique;
  }
</style>
{% if fishing %}
<p>Редактирование даты и времени рыбалки</p>
{% else %}
<p>Добавление рыбалки</p>
{% endif %}

<p class="text-danger" style="font-size: 100%;">{{ errors }}</p>

{% for error in form.non_field_errors %}
  <p class="text-danger" style="font-size: 100%;">{{ error }}</p>
{% endfor %}

<form action="" method="post" style="text-align: center; margin: auto;">
  {% csrf_token %}
  <table style="text-align: center; margin: auto;">
    <tr>
      <td>{{ form.date.label_tag }}</td>
      <td>
        <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
        {{ form.date }}
          <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </td>
    </tr>
    {% if form.date.errors %}
      <tr>
        <td></td>
        <td class="text-danger" style="font-size: 80%;">
          {% for error in form.date.errors %}
            {{ error }}
          {% endfor %}
        </td>
      </tr>
    {% endif %}
    <tr>
      <td>{{ form.time_start.label_tag }}</td>
      <td>
        <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
          {{ form.time_start }}
          <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </td>
    </tr>
    {% if form.time_start.errors %}
      <tr>
        <td></td>
        <td class="text-danger" style="font-size: 80%;">
          {% for error in form.time_start.errors %}
            {{ error }}
          {% endfor %}
        </td>
      </tr>
    {% endif %}
    <tr>
      <td>{{ form.time_end.label_tag }}</td>
      <td>
        <div class="input-group date" id="datetimepicker3" data-target-input="nearest">
          {{ form.time_end }}
          <div class="input-group-append" data-target="#datetimepicker3" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </td>
    </tr>
    {% if form.time_end.errors %}
      <tr>
        <td></td>
        <td class="text-danger" style="font-size: 80%;">
          {% for error in form.time_end.errors %}
            {{ error }}
          {% endfor %}
        </td>
      </tr>
    {% endif %}
  </table>
  <br />
  <button class="btn btn-secondary" role="button">Сохранить</button>
  <a href="{% url 'fishing:fishing' %}" class="btn btn-secondary" role="button">Назад</a>
</form>
{% endblock %}
