{% extends 'fishing/base.html' %}
{% block content %}


{% if lure_mix_list %}
<table class="table table-hover" style="margin: auto;">
  {% for lure_mix in lure_mix_list %}
  <tr >
    <td style="text-align: center; border: 0;">
    {{lure_mix}}
    </td>
    <td style="text-align: center; width: 6%; border: 0;">
      <a href="{% url 'fishing:fishing_lure_mix_add' fishing.id lure_mix.id fishing_lure_mix.id %}" class="btn btn-secondary" role="button">Выбрать</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>Прикормочные смеси еще не добавлены</p>
{% endif %}
<p style="text-align: center;">
  <a href="{% url 'fishing:fishing_details' fishing.id %}" class="btn btn-secondary" role="button">Назад</a>
</p>

{% endblock %}