{% extends 'fishing/base.html' %}
{% block content %}


{% if nozzle_list %}
<table class="table table-hover" style="margin: auto;">
  {% for nozzle in nozzle_list %}
  <tr >
    <td style="text-align: center; border: 0;">
    {{nozzle}}
    </td>
    <td style="text-align: center; width: 6%; border: 0;">
      <a href="{% url 'fishing:fishing_nozzle_add' fishing.id fishing_tackle.id nozzle.id fishing_nozzle.id %}" class="btn btn-secondary" role="button">Выбрать</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>Насадки и наживки еще не добавлены</p>
{% endif %}
<p style="text-align: center;">
  <a href="{% url 'fishing:fishing_details' fishing.id %}" class="btn btn-secondary" role="button">Назад</a>
</p>

{% endblock %}