{% extends 'fishing/base.html' %}
{% block content %}


{% if tackle_list %}

<table class="table table-hover" style="margin: auto;">
  {% for tackle in tackle_list %}
  <tr >
    <td style="text-align: center; border: 0;">
    {{tackle}}
    </td>
    <td style="text-align: center; width: 6%; border: 0;">
      <a href="{% url 'fishing:fishing_tackle_add' fishing.id tackle.id fishing_tackle.id %}" class="btn btn-secondary" role="button">Выбрать</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>Снасти еще не добавлены</p>
{% endif %}
<p style="text-align: center;">
  <a href="{% url 'fishing:fishing_details' fishing.id %}" class="btn btn-secondary" role="button">Назад</a>
</p>

{% endblock %}