{% extends 'fishing/base.html' %}
{% block content %}


{% if montage_list %}
<!-- Место рыбалки -->
<table class="table table-hover" style="margin: auto;">
  {% for montage in montage_list %}
  <tr >
    <td style="text-align: center; border: 0;">
    {{montage}}
    </td>
    <td style="text-align: center; width: 6%; border: 0;">
      <a href="{% url 'fishing:fishing_montage_add' fishing.id fishing_tackle.id montage.id fishing_montage.id %}" class="btn btn-secondary" role="button">Выбрать</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>Монтажей еще не добавлено</p>
{% endif %}
<p style="text-align: center;">
  <a href="{% url 'fishing:fishing_details' fishing.id %}" class="btn btn-secondary" role="button">Назад</a>
</p>

{% endblock %}