{% extends 'fishing/base.html' %}
{% block content %}


{% if place_list %}
<!-- Место рыбалки -->
<table class="table table-hover" style="margin: auto;">
  {% for place in place_list %}
  <tr >
    <td style="text-align: center; border: 0;">
    {{place}}
    </td>
    <td style="text-align: center; width: 6%; border: 0;">
      <a href="{% url 'fishing:fishing_place_add' fishing.id place.id %}" class="btn btn-secondary" role="button">Выбрать</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>Мест еще не добавлено</p>
{% endif %}
<p style="text-align: center;">
  <a href="{% url 'fishing:fishing_details' fishing.id %}" class="btn btn-secondary" role="button">Назад</a>
</p>

{% endblock %}