{% extends 'fishing/base.html' %}
{% load static %}
{% block content %}

<div class="content__item">
  {% if pace_list %}
  <table>
    {% for pace in pace_list %}
    <tr>
      <td>
        {{pace.interval}}
      </td>
      <td>
        <a href="{% url 'fishing:pace_edit' pace.id %}">
          <img class="button__img" src="{% static 'images/edit.png' %}" alt="Edit">
        </a>
        <a href="{% url 'fishing:pace_delete' pace.id %}">
          <img class="button__img" src="{% static 'images/delete.png' %}" alt="Delete">
        </a>
      </td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <div class="content__item-text content__item-text--center">
    <p>Варианты темпов ловли еще не добавлены</p>
  </div>
  {% endif %}
  
  <div class="content__item content__item--btn-position">
    <a class="button__std" href="{% url 'fishing:pace_add' %}">
      <img class="button__img" src="{% static 'images/add.png' %}" alt="">
      Добавить
    </a>
    <a class="button__std" href="{% url 'fishing:settings' %}">
      Назад
    </a>
  </div>
</div>


{% endblock %}
