{% extends 'fishing/base.html' %}
{% block content %}

{% if primings_list != None %}
<!-- Грунт -->
{% if primings_list %}
<table class="table table-hover" style="width: 70%; margin: auto;">
  {% for priming in primings_list %}
  <tr >
    <td style="text-align: center; border: 0;">
    {{priming.priming_name}}
    </td>
    {% if user.is_staff %}
    <td style="text-align: center; width: 10%; border: 0;">
    <a href="{% url 'fishing:priming_edit' priming.id %}" class="btn btn-secondary" role="button">Редактировать</a>
    </td>
    <td style="text-align: center; width: 6%; border: 0;">
    <a href="{% url 'fishing:priming_delete' priming.id %}" class="btn btn-secondary" role="button">Удалить</a>
    </td>
    {% endif %}
  </tr>
  {% endfor %}
</table>
{% else %}
<p>Варианты грунтов еще не добавлены</p>
{% endif %}
<br/>
<p style="text-align: center;">
  {% if user.is_staff %}
  <a href="{% url 'fishing:priming_add' %}" class="btn btn-secondary" role="button">Добавить</a>
  {% endif %}
  <a href="{% url 'fishing:index' %}" class="btn btn-secondary" role="button">Назад</a>
</p>
{% endif %}

{% endblock %}
