{% extends 'fishing/base.html' %}
{% block content %}
<style>
  p {
    text-align: center;
    font-size: 140%;
    font-style: oblique;
  }
</style>
{% if priming %}
<p>Редактирование варианта покрытия дна</p>
{% else %}
<p>Добавление варианта покрытия дна</p>
{% endif %}
<br />
{% for error in form.name.errors %}
  <p class="text-danger" style="font-size: 100%;">{{ error }}</p>
{% endfor %}
<form action="" method="post" style="text-align: center; margin: auto;">
  {% csrf_token %}
  <table style="text-align: center; margin: auto;">
      <td>{{ form.name.label_tag }}</td>
      <td>{{ form.name }}</td>
    </tr>
  </table>
  <br />
  <button class="btn btn-secondary" role="button">Сохранить</button>
  <a href="{% url 'fishing:primings' %}" class="btn btn-secondary" role="button">Назад</a>
</form>
{% endblock %}
